
.main {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  padding: 1.6rem;
}

.file-block {
  display: flex;
  column-gap: 1rem;
}

// .form-duration {
//   display: flex;
//   // flex-direction: column;
//   gap: 1.6rem;
//   width: 100%;
//   // max-width: 78rem;
//   // margin: 0 auto;
//   // padding: 1.6rem;
// }


/*****************************************************/

.form-duration {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1.6rem; /* Промежуток между элементами */
}

.form-duration button:nth-child(4) {
  grid-column: 1 / -1; /* Четвёртый элемент занимает всю ширину */
}

/***************************************************/

.button {
  cursor: pointer;
  
  // width: 200px;
  height: 40px;
  border: none;
  
  
  // &_select {
  //   width: 100%;
  // }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  flex-shrink: 0;

  background-color: var(--bnt-background);
  color: var(--btn-color);
  // @include caption-btn;

  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  border-radius: 7px;
  // @include btn-shadow;
  box-shadow:
      0px -2px 4px 1px var(--shadow-press) inset,
      0px 2px 4px 1px var(--shadow) inset;


  transition: transform 0.1s ease, box-shadow 0.1s ease; /* Переход для эффекта нажатия */

  // @media (hover: hover) {
  //   &:hover {
  //     @include custom-cursor;
  //   }
  // }

  &:active { // нажатие кнопки
    // @include btn-shadow-press;
    box-shadow:
      0px 0px 4px 1px var(--shadow-press) inset;
      transform: scale(0.95);
  }

  &:disabled {
    // pointer-events: none;
    cursor: not-allowed; /* Курсор для отключенной кнопки */
    // @include btn-shadow-press;
    box-shadow:
      0px 0px 4px 1px var(--shadow-press) inset;
      transform: scale(0.95);

    color: var(--disabled-color);
  }

  &_small {
    // width: 70px;
    min-width: 70px;
  }

  &_file {
    width: 100%;
    flex-shrink: 1;
  }

}


/***************************************************/

.info,
.input-duration {
  background-color: var(--bnt-background);
  color: var(--btn-color);
  // @include caption-btn;

  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.input-duration {
  text-align: center;
  width: 100%;

  &:disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
  }
}

.info {
  background-color: inherit;
  border: solid var(--bnt-background) 3px;
  // color: var(--color-title);
  color: var(--bnt-background);
  // color: rgb(3, 241, 231);

  &-result {
    color: rgb(3, 241, 231);
  }
}



