
.logo--active {
  cursor: pointer;

  &:active {
    transform: scale(0.9);
    transition: all 0.4s;
  }
}

.menu__list-link--disabled {
  cursor: default;

  &::before {
    transform: scaleX(1);
  }

  &:active {
    transform: scale(1);
    transition: all 0.4s;
  }
}