
$size: 40px;
$space: 2px;
$rows: 10;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* Меняю размер шрифта, чтобы установить новое значение rem */
  //font-size: 10px;
  /*font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) /  1280);*/
}

.title {
  text-align: center;
  //border: solid red 1px;
}

.playboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: $space;
  border: solid $space black;
  width: calc(($size + $space)*$rows + 2*$space);

  // Почему-то не работает box-sizing: border-box;

  margin: 0 auto;

  padding: calc(2*$space);

  @media screen and (max-width: 530px) {
    width: calc(($size*0.9 + $space)*$rows + 2*$space);
  }
  @media screen and (max-width: 440px) {
    width: calc(($size*0.8 + $space)*$rows + 2*$space);
  }
  @media screen and (max-width: 390px) {
    width: calc(($size*0.7 + $space)*$rows + 2*$space);
  }
  @media screen and (max-width: 340px) {
    width: calc(($size*0.6 + $space)*$rows + 2*$space);
  }

}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: gray;
  width: $size;
  height: $size;

  font-weight: bold;
  border: solid 1px black;

  @media screen and (max-width: 530px) {
    width: $size*0.9;
    height: $size*0.9;
  }
  @media screen and (max-width: 440px) {
    width: $size*0.8;
    height: $size*0.8;
  }
  @media screen and (max-width: 390px) {
    width: $size*0.7;
    height: $size*0.7;
  }
  @media screen and (max-width: 340px) {
    width: $size*0.6;
    height: $size*0.6;
  }

}

/*******************************************************/
.block_big { // пробую рисовать поля разного размера
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: gray;
  width: calc($size/2);
  height: calc($size/2);

  font-weight: bold;

  border: solid 1px black;
}
/**************************************************/

.open {
  background-color: green;
}

.null {
  background-color: yellowgreen;
}

.one {
  color: red;
  //font-weight: bold;
}

.two {
  color: blue;
}

.three {
  color: yellow;
}

.foor {
  color: green;
}

.eight {
  color: orange;
}

// .guess {
//   background-color: aqua;
// }

.guess::after {

  //content: "⚑"; // флаг из спецсимволов
  content: "⛔"; // знак из спецсимволов
  //content: "✸"; // многоугольник из спецсимволов
  //content: "\2738"; // многоугольник из спецсимволов
  //content: "\1F4A3"; // бомба из спецсимволов
  //content: "\1F4A5"; // взрыв из спецсимволов
  // color: rgb(141, 37, 37);
  // font-weight: bold;
  //font-size: 30px;

}


/************************************************************************************/
/******Рабочие варианты обращения к data ********************************************/

/*
[data*="y"] {
  background-color: sandybrown;
}

[data*="y"][data*="4"] {
  background-color: green;
}

[data*='"y":3'] {
  background-color: blue;
}

[data*='"x":7'] {
  background-color: yellow;
}

[data*='"y":3'][data*='"x":7'] {
  background-color: red;
}
*/


/************************************************************************************/
/************************************************************************************/

.active {
  background-color: green;
}

/* Текст */
.wrapper-text {
  border: solid red 2px;
  padding: 5px;
  margin: 0 auto 10px;
  width: 855px;
  display: flex;
  justify-content: flex-start;
}