@charset "UTF-8";
/******** global *****************************************************/
/**************************************************************/
/* сбрасываю, то что может мешать */
*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  /*чтобы наследовали цвет родителя*/
  color: inherit;
}

button {
  border: none;
  outline: none; /*убираю фокус*/
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Removes platform-specific styling */
  color: inherit;
}

/***************************************************************/
/***************************************************************/
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Italic.ttf");
  font-weight: 500;
}
/***************************************************************/
/***************************************************************/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

/* чтобы прижать футер к низу страницы*/
/*! чтобы всегда была полоса прокрутки и не дергалось при пиксель перфект. 
Надо убрать для мобилок*/
html {
  height: 100.1%;
}

body {
  height: 100%;
}

/* чтобы прижать футер к низу страницы*/
/* чтобы не появлялась полоса прокрутки при пиксель перфект надо
что-то помутить с медиа запросам*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* чтобы прижать футер к низу страницы*/
.main {
  flex-grow: 1;
}

.footer {
  flex: 0 0 auto;
}

/***********************************************/
/***********************************************/
.wrapper {
  margin: 0 auto;
  background-image: url(../assets/img/snake20.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  background-color: #cfb28c;
  opacity: 0.7;
  border-radius: 5px;
  border: solid 8px rgb(80, 80, 80);
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
}

.color-test {
  background-color: #ddc8ac;
  width: 100px;
  height: 50px;
}

/**********************************************/
/**********************************************/
/****** Сохраняю пропорции блока с картинкой ****************************************/
.cover {
  width: 100%; /* здесь можно установить любую нужную ширину */
}

.cover-inner {
  position: relative;
  height: 0;
  border: none;
}

.cover-content {
  transition: all 0.7s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../assets/img/Lzy-cover02.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
}

.cover-inner--ratio {
  padding-top: 75%; /* 100% ширины делим на 4 и умножаем на 3 */
}

/***********************************************/
/***********************************************************/
.footer {
  background-color: rgb(80, 80, 80);
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.github-visit {
  margin-left: 10px;
}

.footer-container__github {
  display: flex;
  align-items: center;
}

.footer-container__github:hover {
  text-decoration: underline;
}

.footer-link {
  opacity: 70%;
  transform: scale(1);
  transition: all 0.4s;
}
.footer-link:hover {
  transform: scale(1.2);
  transition: all 0.4s;
  opacity: 100%;
}
.footer-link:active {
  transform: scale(0.9);
  transition: all 0.4s;
}

.footer-container__copy {
  color: rgb(0, 0, 0);
  margin-left: 25px;
}

/*********************************************************/
/*********************************************************/
.header {
  position: relative;
  background-color: rgb(80, 80, 80);
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-size: 20px;
  opacity: 0.8;
  width: 100%;
  min-height: 60px;
  /*******************************/
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  opacity: 0.2;
}

.btnSound {
  background-color: transparent;
  outline: none;
  border: none;
  width: 32px;
  height: 50px;
  background-image: url(../assets/svg/Sound03.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
}
.btnSound:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.btnSound:active {
  transform: scale(0.9);
  transition: all 0.3s;
}
.btnSound--mute {
  background-image: url(../assets/svg/Sound03-no.png);
}/*# sourceMappingURL=style.css.map */