
* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  // justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.keyboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 2px black;
  // width: 855px;
  width: 100%;
  max-width: 600px;
  
  margin: 0 auto;
  padding: 5px;


}

.key {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  margin: 3px;
  padding: 3px;

  text-transform: uppercase;
}

.add-key {
  width: 106px;
}
.tab-key {
  width: 80px;
}
.capslock-key {
  width: 90px;
}
.enter-key {
  width: 122px;
}

.slash-key {
  width: 76px;
}

.shift-key {
  width: 134px;
}

.shift-key--small {
  width: 78px;
}

.space-key {
  width: 275px;
}

.active {
  background-color: green;
  
  pointer-events: none;
}

/* Текст */
.wrapper-text {
  border: solid red 2px;
  padding: 5px;
  margin: 0 auto 10px;
  // width: 855px;
  width: 100%;
  max-width: 855px;
  display: flex;
  justify-content: flex-start;
}


/*******************************************************/
/*******************************************************/

.hangImg {
  margin: 0 auto;
  position: relative;
  // position: fixed;
  // width: 100%;
  width: 300px;
  height: 400px;
  // z-index: -1;
  border: solid thistle 2px;
  background-color: antiquewhite;

  background-image: url(../assets/svg/hangGallows.svg);
  background-size: contain;
  // background-size: cover;
  background-repeat: no-repeat;
  
  // min-height: 100vh;

  // backdrop-filter: blur(50px);

  // filter: blur(10px);
  transition: all 0.7s;

  // &__item {
  //   position: absolute;
    
  //   width: 70px;
  //   height: 70px;
  //   // background-color: cadetblue;
  //   background-size: contain;
  //   background-repeat: no-repeat;

  //   &_1 {
  //     transform: translate(244%, 150%);
  //     // transform: translate(172px, 104px);
  //     background-image: url(../assets/svg/hangItem1.svg);
  //   }
  //   &_2 {
  //     transform: translate(285%, 253%);
  //     background-image: url(../assets/svg/hangItem2.svg);
  //   }
  //   &_3 {
  //     transform: translate(203%, 259%);
  //     background-image: url(../assets/svg/hangItem3.svg);
  //   }
  //   &_4 {
  //     transform: translate(303%, 259%);
  //     background-image: url(../assets/svg/hangItem4.svg);
  //   }
  //   &_5 {
  //     transform: translate(203%, 353%);
  //     background-image: url(../assets/svg/hangItem5.svg);
  //   }
  //   &_6 {
  //     transform: translate(303%, 353%);
  //     background-image: url(../assets/svg/hangItem6.svg);
  //   }
  // }

}

.hangImgMen {
  position: absolute;
  width: 40%;
  height: 55%;
  // background-color: aquamarine;
  // transform: translate(124%, 47%);

  animation: rotateHangman 5s linear infinite;

  &__item {
    position: absolute;
    
    width: 70px;
    height: 70px;
    // background-color: cadetblue;
    background-size: contain;
    background-repeat: no-repeat;

    // z-index: -2;
    // visibility: hidden;
    // opacity: 0;
    // transition: visibility 2s, opacity 2s;

    &--active {
      z-index: 16;
      visibility: visible;
      opacity: 1;
      transition: visibility 2s, opacity 2s;
    }

    &_1 {
      transform: translate(33%, 4%);
      // transform: translate(172px, 104px);
      background-image: url(../assets/svg/hangItem1.svg);
    }
    &_2 {
      transform: translate(75%, 107%);
      background-image: url(../assets/svg/hangItem2.svg);
    }
    &_3 {
      transform: translate(3%, 108%);
      background-image: url(../assets/svg/hangItem3.svg);
    }
    &_4 {
      transform: translate(85%, 108%);
      background-image: url(../assets/svg/hangItem4.svg);
    }
    &_5 {
      transform: translate(3%, 202%);
      background-image: url(../assets/svg/hangItem5.svg);
    }
    &_6 {
      transform: translate(85%, 202%);
      background-image: url(../assets/svg/hangItem6.svg);
      
      // z-index: 16;
      // visibility: visible;
      // opacity: 1;
      // transition: visibility 2s, opacity 2s;

      // z-index: -2;
      // visibility: hidden;
      // opacity: 0;
      // transition: visibility 2s, opacity 2s;
    }
  }
}

@keyframes rotateHangman {
  from {
    transform:  translate(124%, 47%) rotateY(0deg);
  }
  to {
    transform:  translate(124%, 47%) rotateY(360deg);
  }
}

.hangRiddle {
  width: 100%;
  max-width: 600px;
  text-align: center;
  // width: 350px;
  height: 60px;
  background-color: antiquewhite;
}

.hangWord {
  display: flex;
  column-gap: 5px;

  &__letter {
    width: 20px;
    height: 20px;
    border-bottom: solid black 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
  }
}



// z-index: -2;
// visibility: hidden;
// opacity: 0;

// transition: visibility 2s, opacity 2s;

// &--active {
//   z-index: 16;
//   visibility: visible;
//   opacity: 1;
//   transition: visibility 2s, opacity 2s;
// }