
/***** footer ***********************************************************************/
/***** footer ***********************************************************************/

.footer {
  width: 100%;
  
  // background-color: antiquewhite;
  background: $static-white;

  color: $dark;
}

.footer-container {

  width: 100%;
  max-width: 1440px;

  padding: 60px 8px;

  // background-color: greenyellow;
  background: $static-white;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;

}

.footer-card-box {
  width: 100%;
  max-width: 1276px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-card {
  flex: 1 1 330px;
  // flex-grow: 1;
  // flex-shrink: 1;
  // flex-basis: 324px;

  @media screen and (max-width: 800px) {
    flex-basis: 380px;
  }
  @media screen and (max-width: 700px) {
    flex-basis: 330px;
  }

  max-width: 100%;
  padding: 20px 20px;

  border-radius: 20px;
  background: $content-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;

  transition: all 0.6s;

  @media (hover: hover) {
    &:hover {
      transition: all 0.6s;
      color: $primary;
    }
  }

  &__img {
    display: block;
  }

  &__action {
    @include action-large;
  }

  &__title {
    @include header-3;
  }

}


.footer-container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
}

.footer-social {
  display: flex;
  column-gap: 12px;

  &__link {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    // background-color: antiquewhite;
  }

  &__img {
    transition: all 0.6s;
  }

  @media (hover: hover) {
    &__link:hover &__img {
      stroke: $primary;
      transition: all 0.6s;
    }
  }

}

.footer-text {
  @include paragraph;
  cursor: default;
}

.footer-caption {
  @include caption;

  transition: all 0.6s;

  @media (hover: hover) {
    &:hover {
      transition: all 0.6s;
      color: $primary;
    }
  }

}

