// @import 'normalize';

@import 'global';

// .header-inner {
//   background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
// }

.header {
  background: #0C0C0E; // чтобы фоновый цвет тянулся

}

.header-inner{

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9rem;

  position: relative; /*для адаптации бургера*/
}

.logo {
  color: #FFF;
  font-family: Forum;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem; /* 166.667% */
  letter-spacing: 0.6px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 4rem;

}

.menu__list {
  display: flex;
  //justify-content: space-between;
  column-gap: 3rem;
  //min-height: 5rem;

  color: #FFF;
  line-height: 5rem;

  &-item {
    transition: 0.4s;
  }
  &-item:hover {
    color: #BB945F;

    // меню исчезает и появляется ПЛАВНО
    transition: 0.4s;

    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
  }
}

.profile {
  background-image: url("../assets/svg/icon_profile01.svg");
  width: 2.8rem;
  height: 2.8rem;
  flex-shrink: 0;

  &:hover {
    cursor: pointer;
  }
}

.welcom-img {
  width: 100%;
  height: 600px;
  //border: solid 2px red;
  //background: url("../assets/img/Welcome-gradient.png"), lightgray 50% / cover no-repeat;
  
  // background-image: url("../assets/img/Welcome-gradient.png");
  // background-size: cover;
  // background-repeat: no-repeat;

  background: lightgray url("../assets/img/Welcome-gradient.png") 50% / cover no-repeat;
// В этом примере, lightgray задает цвет фона, url("../assets/img/Welcome-gradient.png") задает путь к изображению фона, 50% устанавливает позиционирование изображения по горизонтали, cover задает размер изображения фона на всю доступную область и no-repeat предотвращает повторение изображения.


  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
  }
  // накладываю на фото эффект (градиент)
}

.container--welcom {
  padding: 22rem 2rem 0 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  //background-color: burlywood;
}

.title_text {
  

  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  background-color: aqua;
  text-align: center;

  &--welcom {
    color: #FFF;
    //text-align: center;
    //font-family: Forum;
    //font-style: normal;
    //font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.title--welcom-block {
  width: 600px;
  height: 220px;
  background-color: black;
  padding: 3.5rem 4rem;

}

.title_line {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 20px;
}

/**************************************************/
.about {
  background-color: #FFF;

}

.about-inner {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;

  padding: 2rem 0 3.5rem 0;
}

.title--about {
  margin-bottom: 4rem;
  // margin-bottom: 4.7rem;
}

.about-inner_text {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 40px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  //background-color: bisque;
}

.slider-inner {
  display: flex;
  column-gap: 2.5rem;
}

.slider-inner_item {
  width: 45rem;
  height: 56rem;
  //background-color: cadetblue;
  background-size: cover;
  background-repeat: no-repeat;


}

.slider-inner_item--01 {
  background-image: url(../assets/img/image-01.png);
}

.slider-inner_item--02 {
  background-image: url(../assets/img/image-02.png);
}

.slider-inner_item--03 {
  background-image: url(../assets/img/image-03.png);
}


.slider-pg {

  display: flex;

  &--position {
    margin-top: 35px;
  }

  &_container {
    width: 26px;
    height: 26px;
    //margin: 0 auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    //padding: 50px 0;
  }

  &_item {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
  }

  &_item--active {
    background-color: #BB945F;
  }
}

/******************************************************************/

.favorites {
  background-color: #FFF;
}

.favorites-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;

  // background-color: red;
}

.title--favorites {
  margin-bottom: 4rem;
}

.favorites-form {
  width: 100%;
  background-color: yellow;

  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  &--position {
    margin-bottom: 4rem;
  }
}

.favorites-form_title {
  color: #000;
  // text-align: center;
  // font-family: Inter;
  font-size: 20px;
  // font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites-form_seasons {
  display: flex;
  column-gap: 6rem;
}

.seasons_option {
  appearance: none;
  position: absolute; // чтобы убрать пробел

  
}

.seasons_title {
  width: 13rem;
  padding-left: 2em;
  position: relative;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: tomato;

}

.seasons_title--last {
  width: 15rem;
  padding-left: 3em;
}

.seasons_radio {
  position: absolute;
  bottom: 0;
  width: 17px;
  height: 17px;

  margin-left: -2em;

  background-image: url(../assets/svg/input-radio-check.svg);
  //background-color: tomato;

  background-size: cover;
  background-repeat: no-repeat;

  transition: 0.4s;
}

.seasons_option:checked + .seasons_radio {
  background-image: url(../assets/svg/input-radio-check-on.svg);
  transition: 0.4s;
}

.seasons_option:checked ~ .seasons_text{
  // color: red;
  transition: 0.4s;
  font-weight: 700;
}

.seasons_text {
  transition: 0.4s;
}

/*******************************************************/

.favorites-items {
  display: flex;
  flex-wrap: wrap;

  column-gap: 22rem;
  row-gap: 4rem;

  &.spring {
    display: none;
  }

  &.summer {
    display: none;
  }

  &.autumn {
    display: none;
  }


}



.card {
  // background-color: #BB945F;

  position: relative;

  width: 590px;
  height: 555px;
}

.card__image {
  // background-color: blueviolet;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;

  width: 200px;
  height: 300px;

  bottom: 0;
  right: 0;
}

.card__image--1-01 {
  background-image: url(../assets/img/book-1-01.png);
}

.card__image--1-02 {
  background-image: url(../assets/img/book-1-02.png);
}

.card__image--1-03 {
  background-image: url(../assets/img/book-1-03.png);
}

.card__image--1-04 {
  background-image: url(../assets/img/book-1-04.png);
}

/*************/

.card__image--2-01 {
  background-image: url(../assets/img/book-2-01.png);
}

.card__image--2-02 {
  background-image: url(../assets/img/book-2-02.png);
}

.card__image--2-03 {
  background-image: url(../assets/img/book-2-03.png);
}

.card__image--2-04 {
  background-image: url(../assets/img/book-2-04.png);
}

/*************/

.card__image--3-01 {
  background-image: url(../assets/img/book-3-01.png);
}

.card__image--3-02 {
  background-image: url(../assets/img/book-3-02.png);
}

.card__image--3-03 {
  background-image: url(../assets/img/book-3-03.png);
}

.card__image--3-04 {
  background-image: url(../assets/img/book-3-04.png);
}

/*************/

.card__image--4-01 {
  background-image: url(../assets/img/book-4-01.png);
}

.card__image--4-02 {
  background-image: url(../assets/img/book-4-02.png);
}

.card__image--4-03 {
  background-image: url(../assets/img/book-4-03.png);
}

.card__image--4-04 {
  background-image: url(../assets/img/book-4-04.png);
}

/*************/



.card__block {
  border: 1px solid #000;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  width: 550px;
  height: 555px;

  // padding: 15px 172px 15px 20px;
  padding: 15px 0px 15px 20px;
}

.card__block-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card__block-title {
  display: flex;
  flex-direction: column;

  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__block-title-line {
  width: 60px;
  height: 1px;
  background: #BB945F;
}

.card__block-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80px;
  // background-color: yellow;

  padding-right: 1rem;

  &-name {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &-author {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

}

.card__block-content {
  // background-color: yellow;
  height: 320px;
  overflow: hidden;
  padding-right: 172px;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;

}

.card__block-btn {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;

  &--active {
    color: #BB945F;
    border: 1px solid #BB945F;
  }
}

/************************************************/
/************************************************/

.coffee-inner_text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 200% */
  letter-spacing: 2px;

  padding: 0 10px;
}

.coffee-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;

  // background-color: red;

  row-gap: 4rem;
}

// .title--coffee-shop {
//   margin-bottom: 4rem;
// }

.coffee-menu {
  display: flex;
  justify-content: space-between;


  width: 100%;
}

.coffee-menu-block {
  //background-color: tomato;
  width: 40%;

  //background-color: tomato;

  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  &__title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__item {
    display: flex;
    column-gap: 5.8rem;

    //justify-content: end;
  }

}

.coffee-menu-item {

  &__name {
    width: 200px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__line {
    width: 100px;
    height: 1px;
    background: #BB945F;
    align-self: center;
  }

  &__price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &--desserts {
    justify-content: end;
  }

  &__name--desserts {
    text-align: right;
    width: 250px;
  }


}

.coffee-menu-block {

  &__title--desserts {
    text-align: right;

  }

}

/*************************************************/
/*************************************************/

.container--contacts {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.contacts-inner {
  display: flex;
  flex-direction: column;

  row-gap: 4rem;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
}

.contacts-block {


  &__title {
    color: #000;
    //text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__title--staff {
    padding-bottom: 2rem;
  }

  &__phone-list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__content {

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__content--phone {

    transition: 0.4s;
  }

  &__content--phone:hover {
    font-weight: 700;
    color: #BB945F;
    transition: 0.4s;
  }

  &__content--maile {
    font-weight: 700;
    transition: 0.4s;
  }

  &__content--maile:hover {
    font-weight: 400;
    color: #BB945F;
    transition: 0.4s;
  }

  

  &__phone-list {
    padding: 4rem 0;
  }
}
