@charset "UTF-8";
/*************************************************************/
/**************************************************************/
/* сбрасываю, то что может мешать */
*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  /*чтобы наследовали цвет родителя*/
  color: inherit;
}

button {
  border: none;
  outline: none; /*убираю фокус*/
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Removes platform-specific styling */
  color: inherit;
  border: solid 1px blue; /*чтобы увидеть кнопку*/
}

/***************************************************************/
/***************************************************************/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

/* чтобы прижать футер к низу страницы*/
/*! чтобы всегда была полоса прокрутки и не дергалось при пиксель перфект. 
Надо убрать для мобилок*/
html {
  height: 100.1%;
}

body {
  height: 100%;
}

/* чтобы прижать футер к низу страницы*/
/* чтобы не появлялась полоса прокрутки при пиксель перфект надо
что-то помутить с медиа запросам*/
.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
}

/* чтобы прижать футер к низу страницы*/
.main {
  flex-grow: 1;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.header {
  background: #0C0C0E;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9rem;
  position: relative; /*для адаптации бургера*/
}

.logo {
  color: #FFF;
  font-family: Forum;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem; /* 166.667% */
  letter-spacing: 0.6px;
}

.menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.menu__list {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  color: #FFF;
  line-height: 5rem;
}
.menu__list-item {
  transition: 0.4s;
}
.menu__list-item:hover {
  color: red;
  transition: 0.4s;
}

.profile {
  background-image: url("../assets/svg/icon_profile01.svg");
  width: 2.8rem;
  height: 2.8rem;
  flex-shrink: 0;
}
.profile:hover {
  cursor: pointer;
}

.welcom-img {
  width: 100%;
  height: 600px;
  background: lightgray url("../assets/img/Welcome-gradient.png") 50%/cover no-repeat;
  position: relative;
}
.welcom-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
}

.container--welcom {
  padding: 22rem 2rem 0 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_text {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  background-color: aqua;
  text-align: center;
}
.title_text--welcom {
  color: #FFF;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title--welcom-block {
  width: 600px;
  height: 220px;
  background-color: black;
  padding: 3.5rem 4rem;
}

.title_line {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 20px;
}

/**************************************************/
.about {
  background-color: #FFF;
}

.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 3.5rem 0;
}

.title--about {
  margin-bottom: 4rem;
}

.about-inner_text {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 40px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-inner {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.slider-inner_item {
  width: 45rem;
  height: 56rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-inner_item--01 {
  background-image: url(../assets/img/image-01.png);
}

.slider-inner_item--02 {
  background-image: url(../assets/img/image-02.png);
}

.slider-inner_item--03 {
  background-image: url(../assets/img/image-03.png);
}

.slider-pg {
  display: flex;
}
.slider-pg--position {
  margin-top: 35px;
}
.slider-pg_container {
  width: 26px;
  height: 26px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider-pg_item {
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
}
.slider-pg_item--active {
  background-color: #BB945F;
}

/******************************************************************/
.favorites {
  background-color: #FFF;
}

.favorites-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;
}

.title--favorites {
  margin-bottom: 4rem;
}

.favorites-form {
  width: 100%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.favorites-form--position {
  margin-bottom: 4rem;
}

.favorites-form_title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.favorites-form_seasons {
  display: flex;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
}

.seasons_option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.seasons_title {
  width: 13rem;
  padding-left: 2em;
  position: relative;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: tomato;
}

.seasons_title--last {
  width: 15rem;
  padding-left: 3em;
}

.seasons_radio {
  position: absolute;
  bottom: 0;
  width: 17px;
  height: 17px;
  margin-left: -2em;
  background-image: url(../assets/svg/input-radio-check.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.seasons_option:checked + .seasons_radio {
  background-image: url(../assets/svg/input-radio-check-on.svg);
  transition: 0.4s;
}

.seasons_option:checked ~ .seasons_text {
  transition: 0.4s;
  font-weight: 700;
}

.seasons_text {
  transition: 0.4s;
}

/*******************************************************/
.favorites-items {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 22rem;
       column-gap: 22rem;
  row-gap: 4rem;
}

.card {
  position: relative;
  width: 590px;
  height: 555px;
}

.card__image {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: 0;
  right: 0;
}

.card__image--01 {
  background-image: url(../assets/img/book-1-01.png);
}

.card__image--02 {
  background-image: url(../assets/img/book-1-02.png);
}

.card__image--03 {
  background-image: url(../assets/img/book-1-03.png);
}

.card__image--04 {
  background-image: url(../assets/img/book-1-04.png);
}

.card__block {
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  height: 555px;
  padding: 15px 172px 15px 20px;
}

.card__block-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card__block-title {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__block-title-line {
  width: 60px;
  height: 1px;
  background: #BB945F;
}

.card__block-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}
.card__block-book-name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__block-book-author {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__block-content {
  height: 320px;
  overflow: hidden;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__block-btn {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;
}
.card__block-btn--active {
  color: #BB945F;
  border: 1px solid #BB945F;
}/*# sourceMappingURL=style.css.map */