// @import 'normalize';

@import 'global';

// .header-inner {
//   background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
// }

body {
  background: #0C0C0E;
}

.wrapper {
  // background-color: red;
  // width: 1440px; // было
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: #0C0C0E; // чтобы фоновый цвет тянулся

  width: 100%;

}

.header-inner{

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9rem;

  position: relative; /*для адаптации бургера*/

  @media screen and (max-width: 530px){
    flex-wrap: wrap;
  }
}

.logo {
  color: #FFF;
  font-family: Forum;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem; /* 166.667% */
  letter-spacing: 0.6px;

}

.menu {
  display: flex;
  align-items: center;
  column-gap: 4rem;

  @media screen and (max-width: 490px){
    margin-left: auto;
  }

}

.menu__list {
  display: flex;
  //justify-content: space-between;
  column-gap: 3rem;
  //min-height: 5rem;

  color: #FFF;
  line-height: 5rem;

  &-item {
    transition: 0.4s;
  }
  &-item:hover {
    color: #BB945F;

    // меню исчезает и появляется ПЛАВНО
    transition: 0.4s;

    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
  }
}

.profile {
  background-image: url("../assets/svg/icon_profile01.svg");
  width: 2.8rem;
  height: 2.8rem;
  flex-shrink: 0;

  z-index: 22;

  transition: 0.3s;

  /**************************/
  position: relative;
  /*************************/

  &:hover {
    cursor: pointer;
    // transform: scale(1.1);
  }
}

/*******************************************************/
/*******************************************************/

.container--welcom {
  padding: 0;
}
.container--welcom-popup {
  padding: 22rem 2rem 0 0;
}

.welcom-img {
  width: 100%;
  height: 600px;
  //border: solid 2px red;
  //background: url("../assets/img/Welcome-gradient.png"), lightgray 50% / cover no-repeat;

  // background-image: url("../assets/img/Welcome-gradient.png");
  // background-size: cover;
  // background-repeat: no-repeat;

  background: lightgray url("../assets/img/Welcome-gradient.png") 50% / cover no-repeat;
// В этом примере, lightgray задает цвет фона, url("../assets/img/Welcome-gradient.png") задает путь к изображению фона, 50% устанавливает позиционирование изображения по горизонтали, cover задает размер изображения фона на всю доступную область и no-repeat предотвращает повторение изображения.

  @media screen and (max-width: 1024px) {
    background: lightgray url("../assets/img/Welcome-tablet.png") 50% / cover no-repeat;
  }

  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
  }
  // накладываю на фото эффект (градиент)
}



.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  //background-color: burlywood;
}

.title_text {

  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;

  // background-color: aqua;
  text-align: center;

  &--welcom {
    color: #FFF;
    //text-align: center;
    //font-family: Forum;
    //font-style: normal;
    //font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.title--welcom-block {
  // width: 600px;
  max-width: 600px;
  height: 220px;
  background-color: #0C0C0E;
  padding: 3.5rem 4rem;

}

.title_line {
  width: 50px;
  height: 1px;
  background: #0C0C0E;
  margin-top: 20px;
}

/**************************************************/
/**************************************************/

.about {
  background-color: #FFF;

}

.about-inner {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;

  padding: 2rem 0 3.5rem 0;

  width: 100%;
}

.title--about {
  margin-bottom: 4rem;
  // margin-bottom: 4.7rem;
}

.about-inner_text {

  text-align: center;
  margin-bottom: 2rem;
  line-height: 40px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

/**********************************************/
.slider-block {
  // background-color: #8E8E8E;
  width: 100%;
  // max-width: 1150rem;
  display: flex;
  justify-content: center;
  // justify-content: space-between;
  // column-gap: 1rem;
  column-gap: 5.8rem;

  @media screen and (max-width: 660px) {
    justify-content: space-between;
    column-gap: 2rem;
  }
}

.slider-btn {
  border: none;
  cursor: pointer;

  transform: scale(1, 1.3); //растягиваю спецсимвол
  // transform-origin: 0 0;

  // width: 2.4rem;
  width: 2.4rem;
  height: 2.4rem;

  // background-color: tomato;
  align-self: center;
  margin-top: 4rem; // для ПП
  display: none;

  // text-align: right;
  justify-content: center;
  align-items: center;
  // color: yellow;
  color: black;
  // line-height: 5rem;
  // line-height: 2.4rem;
  // font-size: 5rem;
  // padding-left: 5px;

  transition: 0.4s;

  @media screen and (max-width: 1024px) {
    display: flex;
  }
}

/***************************************************/
// slider js

.slider-btn--color {
  color: green;
  // font-size: 3rem;
  transition: 0.4s;
}

.slider-btn--disabled {
  // color: red;
  color: #BB945F;
  // font-size: 3rem;
  cursor: default;
  opacity: 30%;
  transition: 0.4s;

}

.card-exp00 {
  transform: translate(0, 0);
  transition: 2s;
}

.card-exp01 {
  transform: translate(-47.5rem, 0);
  transition: 2s;
}

.card-exp02 {
  transform: translate(-95rem, 0);
  transition: 2s;
}

.card-exp03 {
  transform: translate(-142.5rem, 0);
  transition: 2s;
}

.card-exp04 {
  transform: translate(-190rem, 0);
  transition: 2s;
}



/************************************************/

.slider-inner {
  display: flex;
  column-gap: 2.5rem;

  overflow: hidden;

  @media screen and (max-width: 1439.8px) {
    max-width: 92.5rem;
    // max-width: 45rem;
  }
  @media screen and (max-width: 1024px) {
    // max-width: 92.5rem;
    max-width: 45rem;
  }

}

.slider-inner_item {
  width: 45rem;
  height: 56rem;
  flex-shrink: 0; // чтобы картинка не сжималась
  //background-color: cadetblue;
  background-size: cover;
  background-repeat: no-repeat;

}

.slider-inner_item--01 {
  background-image: url(../assets/img/image-01.png);
}

.slider-inner_item--02 {
  background-image: url(../assets/img/image-02.png);
}

.slider-inner_item--03 {
  background-image: url(../assets/img/image-03.png);
}

.slider-inner_item--04 {
  background-image: url(../assets/img/image-04.png);
}

.slider-inner_item--05 {
  background-image: url(../assets/img/image-05.png);
}


.slider-pg {

  display: flex;

  &--position {
    margin-top: 35px;

    @media screen and (max-width: 1439.8px) {
      margin-top: 20px;
    }
  }

  &_container {
    width: 26px;
    height: 26px;
    //margin: 0 auto;
    // background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    //padding: 50px 0;

    &--04 {

      display: none;

      @media screen and (max-width: 1439.8px) {
        display: flex;
      }
    }
    &--05 {

      display: none;

      @media screen and (max-width: 1024px) {
        display: flex;
      }
    }
  }

  &_item {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
  }


  &_item--active {
    background-color: #BB945F;
    transition: 1s;
    cursor: default;
  }

  // &_item--04 {
  //   background-color: aqua;
  //   display: none;
  // }
}

// обращаюсь к родителю в который входит нужный элемент
.slider-pg_container:has(.slider-pg_item--active) { 
  // border: solid red 1px;
  cursor: default;
}

/******************************************************************/
/******************************************************************/

.favorites {
  background-color: #FFF;
}

.favorites-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;

  // background-color: red;
  // position: relative;
}

.title--favorites {
  margin-bottom: 4rem;
}

.favorites-form {
  width: 100%;
  // background-color: yellow;

  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  &--position {
    // margin-bottom: 4rem;
    padding-bottom: 4rem;

    @media screen and (max-width: 1276px){
      // background-color: tomato;
      // background: rgba(41, 41, 41, 0.6);

      position: sticky;
      z-index: 10;
      top: 0;
    }
  }

}

.favorites-form--position-sticky {
  @media screen and (max-width: 1276px){

    background: rgba(41, 41, 41, 0.6);
    transition: 1s;
  }
}

.favorites-form--position-sticky > .favorites-form_title {
  @media screen and (max-width: 1276px){

    color: white;
    // transition: 1s;
  }
}
.favorites-form--position-sticky > .seasons > .seasons_title {
  @media screen and (max-width: 1276px){

    color: white;
    // transition: 1s;
  }
}


.favorites-form_title {
  color: #000;
  // text-align: center;
  // font-family: Inter;
  font-size: 20px;
  // font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites-form_seasons {
  display: flex;
  column-gap: 6rem;

  // @media screen and (max-width: 1024px){
  //   background-color: yellowgreen;
  //   position: sticky;
  //   top: 0;
  // }

  @media screen and (max-width: 740px){
    column-gap: 1rem;
    justify-content: space-between;

    flex-wrap: wrap;
  }
}

.seasons_option {
  appearance: none;
  position: absolute; // чтобы убрать пробел

}

.seasons_title {
  width: 13rem;
  padding-left: 2em;

  position: relative;

  // background-color: tomato;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

.seasons_title--last {
  width: 15rem;
  // padding-left: 3em;
  padding-left: 2.8em; // для ПП
}

.seasons_radio {
  position: absolute;
  bottom: 0;
  width: 17px;
  height: 17px;

  margin-left: -2em;

  background-image: url(../assets/svg/input-radio-check.svg);
  //background-color: tomato;

  background-size: cover;
  background-repeat: no-repeat;

  transition: 0.4s;

  /* устанавливаю прозрачный бордер*/
  box-sizing: content-box;
  border: rgba(0, 0, 0, 0) 5px solid; 

  border-bottom: rgba(0, 0, 0, 0) 1px solid; //для ПП
}

.seasons_option:checked + .seasons_radio {
  background-image: url(../assets/svg/input-radio-check-on.svg);
  transition: 0.4s;
}

.seasons_option:checked ~ .seasons_text{
  // color: red;
  transition: 0.4s;
  font-weight: 700;
}

.seasons_text {
  transition: 0.4s;
}

/*******************************************************/

.favorites-items {
  display: flex;
  flex-wrap: wrap;
  // column-gap: 22rem;

  // padding-top: 4rem;

  justify-content: space-between;
  column-gap: 4rem;

  transition: 0.4s;

  &--active {
    opacity: 1;
    max-height: 100%;
    position: relative;
    z-index: auto;
    overflow: hidden;
    transition: opacity 4s, max-height 0s;
  }
  
  &--hidden {
    opacity: 0;
    max-height: 0;
    position: relative;
    z-index: -1;
    overflow: hidden;
    transition: opacity 4s, max-height 0s;
  }

  @media screen and (max-width: 1280px) {
    justify-content: center;
  }


  row-gap: 4rem;


}



.card {
  position: relative;

  // width: 590px;
  width: 100%;
  max-width: 590px;

  height: 555px;
}

.card__image {
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;

  // width: 200px;
  width: 100%;
  max-width: 200px;

  height: 300px;

  @media screen and (max-width: 600px) {
    width: 150px;
    height: calc(150px*300/200);
  }

  bottom: 0;
  right: 0;
}

.card__image--1-01 {
  background-image: url(../assets/img/book-1-01.png);
}

.card__image--1-02 {
  background-image: url(../assets/img/book-1-02.png);
}

.card__image--1-03 {
  background-image: url(../assets/img/book-1-03.png);
}

.card__image--1-04 {
  background-image: url(../assets/img/book-1-04.png);
}

/*************/

.card__image--2-01 {
  background-image: url(../assets/img/book-2-01.png);
}

.card__image--2-02 {
  background-image: url(../assets/img/book-2-02.png);
}

.card__image--2-03 {
  background-image: url(../assets/img/book-2-03.png);
}

.card__image--2-04 {
  background-image: url(../assets/img/book-2-04.png);
}

/*************/

.card__image--3-01 {
  background-image: url(../assets/img/book-3-01.png);
}

.card__image--3-02 {
  background-image: url(../assets/img/book-3-02.png);
}

.card__image--3-03 {
  background-image: url(../assets/img/book-3-03.png);
}

.card__image--3-04 {
  background-image: url(../assets/img/book-3-04.png);
}

/*************/

.card__image--4-01 {
  background-image: url(../assets/img/book-4-01.png);
}

.card__image--4-02 {
  background-image: url(../assets/img/book-4-02.png);
}

.card__image--4-03 {
  background-image: url(../assets/img/book-4-03.png);
}

.card__image--4-04 {
  background-image: url(../assets/img/book-4-04.png);
}

/*************/



.card__block {
  border: 1px solid #000;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  // width: 550px;
  height: 555px;

  max-width: 550px;
  width: 100%;

  // padding: 15px 172px 15px 20px;
  padding: 15px 0px 15px 20px;
}

.card__block-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card__block-title {
  display: flex;
  flex-direction: column;

  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.card__block-title-line {
  width: 60px;
  height: 1px;
  background: #BB945F;
}

.card__block-book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80px;
  // background-color: yellow;

  padding-right: 1rem;

  &-name {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &-author {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

}

.card__block-content {
  // background-color: yellow;
  height: 320px;
  overflow: hidden;
  padding-right: 172px;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;

}

.card__block-btn {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

  border-radius: 2px;
  border: 1px solid #0C0C0E;
  width: 75px;
  height: 30px;

  cursor: pointer;
  transition: 0.4s;

  &:hover {
  
    background-color: #BB945F;
    border-color: #BB945F;
    transition: 0.4s;
  }
  
  &:active {
    
    background-color: #FFF;
    color: #BB945F;
    border-color: #BB945F;
    transition: 0.4s;
  }

  // &--active {
  //   color: #BB945F;
  //   border: 1px solid #BB945F;
  // }

  &:disabled {
    color: #BB945F;
    border: 1px solid #BB945F;

    pointer-events: none;
  }
}

// .card__block-btn[disabled] {
//   pointer-events: none;
// }

/************************************************/
/************************************************/

.container--coffee {
  background-color: #FFF;
}

.coffee-inner_text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 200% */
  letter-spacing: 2px;

  padding: 0 10px;

  @media screen and (max-width: 850px){
    padding: 0;
  }
}

@media screen and (max-width: 850px){
  .barista {
    letter-spacing: 1.7px;
  }
}

.coffee-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;

  // background-color: red;

  row-gap: 4rem;
}

// .title--coffee-shop {
//   margin-bottom: 4rem;
// }

.coffee-menu {
  display: flex;
  justify-content: space-between;


  width: 100%;

  flex-wrap: wrap;
  row-gap: 4rem;
}

.coffee-menu-block {
  
  // width: 40%;

  width: 50rem;

  @media screen and (max-width: 530px){
    max-width: 50rem;
    width: 100%;
  }

  // background-color: tomato;

  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  &__title {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__item {
    display: flex;
    column-gap: 5.8rem;

    //justify-content: end;
  }

}

.coffee-menu-item {

  &__name {
    width: 200px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__line {
    width: 100px;
    height: 1px;
    background: #BB945F;
    align-self: center;
  }

  &__price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &--desserts {
    justify-content: end;
  }

  &__name--desserts {
    text-align: right;
    width: 250px;
  }


}

.coffee-menu-block {

  &--desserts {
    // background-color: bisque;
    margin-left: auto; // для перестроения при адаптации
  }

  &__title--desserts {
    text-align: right;

  }

}

/*************************************************/
/*************************************************/

.container--contacts {
  padding-top: 2rem;
  padding-bottom: 4rem;

  background-color: #FFF;
}

.contacts-inner {
  display: flex;
  flex-direction: column;

  row-gap: 4rem;
}

.contacts-content {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 10rem;
}

.contacts-block {


  &__title {
    color: #000;
    //text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__title--staff {
    padding-bottom: 2rem;
  }

  &__phone-list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__content {

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__content--phone {

    transition: 0.4s;
  }

  &__content--phone:hover {
    font-weight: 700;
    color: #BB945F;
    transition: 0.4s;
  }

  &__content--maile {
    font-weight: 700;
    transition: 0.4s;
  }

  &__content--maile:hover {
    font-weight: 400;
    color: #BB945F;
    transition: 0.4s;
  }

  

  &__phone-list {
    padding: 4rem 0;
  }
}

.contacts-map {
  margin-left: auto;

  @media screen and (max-width: 800px){
    margin: 0 auto;
  }

  &_iframe {
    width: 696px;
    height: 414px;

    @media screen and (max-width: 740px){
      width: calc(100vw - 40px);
    }
  }

}

/**************************************************/
/**************************************************/

.container--library-cards {
  padding-top: 1.6rem;
  padding-bottom: 4rem;

  background-color: #FFF;
}

.library-cards-inner {
  display: flex;
  flex-direction: column;

  row-gap: 4rem;
}

.library-cards-content {
  display: flex;
  justify-content: space-between;

  column-gap: 4rem;
  row-gap: 2.1rem;

  @media screen and (max-width: 1024px){
    flex-wrap: wrap;
  }
  @media screen and (max-width: 850px){
    justify-content: center;
  }

}

.cards-block-find {
  display: flex;
  flex-direction: column;
  // width: 600px;
  max-width: 600px;
  width: 100%;

  row-gap: 3rem;

  align-items: center;

  &__form {
    // width: 600px;
    max-width: 600px;
    width: 100%;

    height: 386px;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 2rem 3rem 2rem;
  }



  &__title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    text-align: center;
  }

  &__input {
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.8rem 2rem;

    border: none;
    border-radius: 10px;
    background: #FFF;
  }
}


.cards-block-find__castom {
  // padding: 4rem;

  // width: 560px;

  max-width: 560px;
  width: 100%;

  height: 272px;

  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;

  margin-bottom: 2rem;
}

.cards-block-find__fieldset {
  display: flex;
  flex-direction: column;

  border: none;

  outline: none;

  background-color: #BB945F;

  padding: 0 0 0 0;
}

.cards-block-find__legend {

  background-color: #BB945F;

  width: 100%;

  padding: 2rem;

  //margin-left: 0;
}

// .cards-block-find__input {
//   margin: 2rem;
// }

.cards-block-find__input-btn {

  background-color: #FFF;

  border-radius: 2px;
  border: 1px solid #0C0C0E;

  padding: 1rem 4rem;
  cursor: pointer;

  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;

  transition: 0.4s;
}

.cards-block-find__input-btn:hover {

  background-color: #BB945F;
  border-color: #BB945F;
  transition: 0.4s;
}

.cards-block-find__input-btn:active {

  background-color: #FFF;
  color: #BB945F;
  border-color: #BB945F;
  transition: 0.4s;
}

.cards-block-read {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;

  // width: 456px;

  max-width: 456px;
  min-width: 300px;

  // background-color: tomato;

  @media screen and (max-width: 850px){
    margin-left: 0;
    max-width: 600px;
    row-gap: 4rem;
  }

  &__title {
    color: #000;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    @media screen and (max-width: 850px){
      text-align: center;
    }
  }

  &__text {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;

    @media screen and (max-width: 850px){
      text-align: center;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: end;
    column-gap: 2rem;

    @media screen and (max-width: 850px){
      justify-content: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .cards-block-find__legend {

    // background-color: aqua;
    font-size: 25px;

  }

  // заставляю сжиматься input
  .cards-block-find__input {

    max-width: 88%;
    width: 100%;
    // background-color: green;

  }
}


/***********************************************/
/***********************************************/

.container--footer {
  background-color: #0C0C0E;
  // background-color: aqua;
  padding-top: 2rem;
  padding-bottom: 44px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.frame-block {
  display: flex;
  flex-direction: column;

  row-gap: 1rem;
}

.frame {
  display: flex;
  justify-content: space-between;

  &-item {
    width: 230px;

    // background-color: #BB945F;
  }

  &-item--right {
    text-align: right;
    width: 170px;
    // background-color: aquamarine;
  }
  &-item--left {
    text-align: left;
    width: 170px;
    // background-color: red;

    @media screen and (max-width: 740px){
      text-align: center;
    }
  }

  &--line {
    height: 1px;
    background-color: #FFF;

    margin-bottom: 14px;
  }

  &--year {
    // color: #FFF;
    // text-align: center;
    // font-family: Inter;
    font-size: 20px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 20px; /* 100% */
    letter-spacing: 2px;

    @media screen and (max-width: 740px){
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
    }
  }

  &-item--center {
    width: 355px;
    text-align: center;

    @media screen and (max-width: 850px){
      text-align: left;
    }
    @media screen and (max-width: 740px){
      text-align: center;
    }

    // background-color: green;
  }
}


.frame-item--social {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.social {
  transition: 0.3s;
  // opacity: 70%;
}

.social:hover {
  // transition: 0.3s; 
  // opacity: 100%;
  transform: scale(1.5);
  // filter: invert(55%) sepia(85%) saturate(3801%) hue-rotate(65deg) brightness(94%) contrast(81%);
}

.frame-item--active {
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);

    color: #8E8E8E;
  }
}


/******************************************************/
/******************************************************/


body.lock {
  overflow: hidden;
  transition: 1s;
}

body.lock .wrapper {
  transition: 1s;
}

/*кнопка мобильного меню*/
.burger-button {
  // position: absolute;
  // right: 0px;
  z-index: 22;
  width: 45px;
  height: 20px;
  /* box-sizing: content-box;  */
  box-sizing: border-box;

  border: none;
  // border: solid 2px white;

  border-radius: 0px;
  padding: 0;
  margin: 0;
  background-color: inherit;
  transition: 0.6s all;

  display: none;

}
@media screen and (max-width: 1024px) {
  .burger-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media screen and (max-width: 380px) {
  .burger-button {
    right: 10px;
  }
}
.burger-button:hover {
  transition: 0.3s all;
  transform: scale(1.15);
  cursor: pointer;
}

#burger-button.rotade {
  transform: rotate(-90deg);
  transition: 0.4s all;
  position: relative;

  // width: 32px;
  // height: 32px;
}
#burger-button.rotade .burger-button__cross--02 {
  background-color: #F1CDB3;
  opacity: 0;

}

#burger-button.rotade .burger-button__cross--01 {
  // background-color: red;
  background-color: white;
  // opacity: 0;
  transform: translateY(8px) rotate(-45deg);
  // transform: translateY(8px);

  transition: 0.4s all;
}

#burger-button.rotade .burger-button__cross--03 {
  // background-color: green;
  background-color: white;
  // opacity: 0;
  transform: translateY(-9px) rotate(45deg);
  // transform: translateY(-8.5px);

  transition: 0.4s all;
}

/* рисую кнопку *********************************/
.burger-button__cross {
  width: 45px;
  height: 2px;
  // background-color: #F1CDB3;
  background-color: white;

  transition: 0.4s all;
}


/****************************************************************/
.fon {
  position: fixed;
  top: 0;
  // left: 0;
  right: 0;
  width: 0;
  // height: 0;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  z-index: -10;

  transition: 0.7s;
}

.fon.work {
  z-index: 10;
  width: 100vw;
  height: 100vh;

  transition: 0.7s;
}

/*  меню выезджает */
  /**********************************/
  /************************************/

@media screen and (max-width: 1024px) {
  .menu__list {
    position: fixed;
    right: -33.2rem;
    top: 0;
    opacity: 6;
    transition: 0.7s;
    z-index: 16;
    /************************************************/
    flex-direction: column;

    align-items: center;
    // background-color: #292929;
    // background-color: red;

    // background-color: #000; // так тоже верно
    background-color: #0C0C0E;

    // justify-content: space-around;
    // justify-content: center;
    row-gap: 3rem;
    width: 33.2rem;
    min-height: 57rem;

    // padding-top: 200px;
  }
}


.menu__list.open {
  right: 0;
  // top: 50px;
  // padding-top: 100px;

  & .menu__list-item:first-child { //обращаюсь к первому menu__list-link
    margin-top: 100px;
    // background-color: red;
  }
}


/************************************************/
/************************************************/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // z-index: 16;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 25px;

  // width: 30rem;
  // height: 30rem;
  // background-color: red;
  // cursor: pointer;

  // visibility: hidden;
  // opacity: 0;
  // transition: visibility 0s linear 300ms, opacity 300ms;

  visibility: visible;
  opacity: 1;
  // transition: visibility 0s linear 0s, opacity 300ms;
  // transition: visibility 2s, opacity 2s;
  transition: visibility 2s, opacity 2s;
}

.modal-register {
  max-width: 250px;
  width: 100%;
  min-height: 382px;

  background: #FFF;

  // z-index: 16;
  // visibility: visible;
  // opacity: 1;

  z-index: -2;
  visibility: hidden;
  opacity: 0;

  transition: visibility 2s, opacity 2s;

  &--active {
    z-index: 16;
    visibility: visible;
    opacity: 1;
    transition: visibility 2s, opacity 2s;
  }
}



.modal-btn-cross {

  border-color: rgba(0, 0, 0, 0); // прозрачный
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 0;

  font-size: 2.5rem;
  line-height: 2rem;

  &:hover {
    cursor: pointer;
  }
}

.modal-title {
  

  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;

  &--position {
    margin-bottom: 20px;
  }
}

.modal-content {
  max-width: 200px;
  width: 100%;
  min-height: 280px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  // background-color: tomato;
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-label {
  display: flex;
  flex-direction: column-reverse; // чтобы сработал + или ~ для фокуса input
  align-items: flex-start;
  row-gap: 10px;

  // background-color: yellowgreen;
}


.modal-label-span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}

.modal-label-input {
  width: 100%;
  border: 1px solid #BB945F;
  // height: 20px;

  font-size: 15px;
  line-height: 16px; 

  // &:checked {
  //   border: solid 2px red;
  // }
}

.modal-label-input:focus {
  outline: none; // убираю стандартную рамку фокуса
  border: 1px solid red;
}


// .modal-label-input:focus + .modal-label-span {
//   color: red;
// }

.modal-label-input:focus + .modal-label-span {
  color: red;
}

.card__block-btn--position {
  margin-top: 10px;
}

.modal-another {
  display: flex;
  column-gap: 10px;

  &_text {
    margin: 0;
    padding: 0;

    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_btn {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline;

    transition: 0.3s;
  }

  &_btn:hover {
    color: #8E8E8E;
    transform: scale(1.1);
    transition: 0.3s;
  }
  &_btn:active {
    
    color: #BB945F;
    transition: 0.3s;
    text-decoration-line: none;
  }
}


/***************************************************/
/***************************************************/
/***************************************************/

.modal-login {
  max-width: 250px;
  width: 100%;
  height: 262px;

  background: #FFF;

  // z-index: 16;
  // visibility: visible;
  // opacity: 1;

  z-index: -2;
  visibility: hidden;
  opacity: 0;

  transition: visibility 2s, opacity 2s;

  &--active {
    z-index: 16;
    visibility: visible;
    opacity: 1;
    transition: visibility 2s, opacity 2s;
  }
}

/*******************************************************/
/*******************************************************/
/*******************************************************/

.modal-profile {
  // position: fixed;
  // position: absolute;

  // top: 80px;
  // right: 100px;

  // transform: translate(-50%, -50%);

  // max-width: 80px;
  // width: 100%;

  position: absolute;

  top: 40px;
  right: 0px;
  width: 80px;
  height: 115px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  background: #FFF;

  padding: 5px 0;

  &:hover {
    cursor: default;
  }

  &-login {

    // z-index: 16;
    // visibility: visible;
    // opacity: 1;
    // transition: visibility 2s, opacity 2s;

    z-index: -2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 2s;

    &--active {
      z-index: 16;
      visibility: visible;
      opacity: 1;
      transition: visibility 2s, opacity 2s;
    }
  }

  &-logout {
    // position: absolute;

    // top: 40px;
    // right: 40px;
    // width: 80px;

    // z-index: 16;
    // visibility: visible;
    // opacity: 1;
    // transition: visibility 2s, opacity 2s;

    z-index: -2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 2s;
  }

}

.modal-profile-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

  &_text {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
  }

  &_line {
    width: 40px;
    height: 1px;
    background-color: #BB945F;
  }
}

.modal-profile-block-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.modal-another_btn--profile {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */

  letter-spacing: normal;

  text-decoration: none;

  // &:hover {
  //   text-decoration: underline;
  // }
  // &:active {
  //   text-decoration: none;
  // }
}


