
.modal-container {
  position: fixed;

  width: 100vw;
  height: 100vh;

  padding: 0px 8px;

  background: rgba(24, 28, 41, 0.80);

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-height: 510px){  // чтобы корректно заработал скролл
    align-items: flex-start;
  }

  overflow-y: auto;

  ///////////////////////////////
  //  скрываю

  z-index: 0;

  opacity: 0;
  transform: scale(0); 
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none; // Игнорируем события, когда окно скрыто

  &--active {
    z-index: 60; // Чтобы перекрыть кнопку и лого
    // visibility: visible;
    // opacity: 1;
    // transition: visibility 0.8s, opacity 0.8s;
    // transition: all 2s linear;
    // transform: translate(-50%, -50%) scale(1);

    opacity: 1;   // Полная видимость
    transform: scale(1);  // Восстановление начального размера
    pointer-events: auto; // Включаем события, когда окно активно

  }

}


.modal {
  width: 100%;
  max-width: 400px;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  border-radius: 20px;
  background: $content-background;

  &__img {
    width: 100%;
    height: 230px;
    flex-shrink: 0;

    // position: relative; // чтобы крестик поставить
    padding: 12px;
    display: flex;
    justify-content: flex-end;

    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
     background-size: cover;
    // background-size: contain;
  }

  &__content {
    background-color: $static-white;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 20px;

    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

  }

  &__category {
    @include header-4;
    color: $dark;
  }

  &__title {
    @include header-3;

    transition: all 0.6s;
    color: $dark;


    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; // чтобы не ругался VSCode
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // @media (hover: hover) {
  //   &:hover .modal__title {
  //     transition: all 0.6s;
  //     color: $primary;
  //   }
  // }

  &__description {
    @include paragraph;
  }

}


  .modal[data-card="for_work"]  {
    & .modal__img {
      background-image: url(../assets/img/gift-for-work.png);
    }
    & .modal__category {
      color: $tag-purple;
    }
  }

  .modal[data-card="for_health"]  {
    & .modal__img {
      background-image: url(../assets/img/gift-for-health.png);
    }
    & .modal__category {
      color: $tag-green;
    }
  }

  .modal[data-card="for_harmony"]  {
    & .modal__img {
      background-image: url(../assets/img/gift-for-harmony.png);
    }
    & .modal__category {
      color: $tag-pink;
    }
  }


.modal__superpowers {
  width: 100%;
  display: flex;
  flex-direction: column;

  border-radius: 0px 0px 20px 20px;

  row-gap: 8px;

  background-color: $static-white;
  padding: 0px 20px 20px 20px;

  &-title {
    @include header-4;
  }
}


.superpowers-item {
  display: flex;
  align-items: center;

  column-gap: 12px;

  &__title {
    flex-grow: 1;

    @include paragraph;
    text-transform: lowercase;  // лучше делать JS
  }
  &__title::first-letter {
    text-transform: capitalize; // лучше делать JS
  }

  &__score {
    @include paragraph;
    text-transform: uppercase;
  }

  &__stars {
    display: flex;
    column-gap: 8px;
  }

  &__stars-item {
    color: $primary-10;
  }

  &__stars-item--active {
    color: $primary;;
  }

}

////////////////////////////////////////////////////////////////////

.button-cross {
  width: 40px;
  height: 40px;
  border: none;
  // border: 1px solid $static-white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  flex-shrink: 0;
  position: relative;


  @media (hover: hover) {
    &:hover {

      @include custom-cursor;
      // cursor: pointer;
    }
  }

  // &:active {
  //   // transform: scale(0.9);
  //   transition: all 0.4s;
  //   }
  // }
}

////////////////////////  рисую кнопку /////////////////////////////////

.button-cross__item {
  width: 30px;
  height: 2px;
  background-color: $dark;
  border-radius: 1.5px;
}

/*****************************************/
/* Анимация при появлении в крестик */

.modal-container.modal-container--active  .button-cross__item--01 {
  animation: rotateLine1 0.8s forwards;
  animation-delay: 0.4s;
}
.modal-container.modal-container--active  .button-cross__item--02 {
  animation: rotateLine2 0.8s forwards;
  animation-delay: 0.4s;
}

@keyframes rotateLine1 {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(45deg);
  }
}

@keyframes rotateLine2 {
  0% {
    transform: translate(0%, -2px) rotate(0deg);
  }
  100% {
    transform: translate(0%, -2px) rotate(-45deg);
  }
}


// .button-cross__item--01 {
//   transform: translate(0%, 0%) rotate(45deg);
//   background-color: red;
// }
// .button-cross__item--02 {
//   transform: translate(0%, -1px) rotate(-45deg);
//   background-color: blue;
// }


// .modal-hidden {


//   // transform: translate(-50%, -50%);
//   // visibility: hidden;
//   // opacity: 0;
//   // transition: visibility 0.4s, opacity 0.4s;

//   transition: all 0.4s linear;
//   transform: translate(-50%, -50%) scale(0);

//   &--active {
//     z-index: 40; // чтобы перекрыть лого и бургер-баттон
//     // visibility: visible;
//     // opacity: 1;
//     // transition: visibility 0.8s, opacity 0.8s;

//     transition: all 0.4s linear;
//     transform: translate(-50%, -50%) scale(1);
//   }
// }
