
html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* Меняю размер шрифта, чтобы установить новое значение rem */
  font-size: 10px;

  // /* Подгоняю его для экрана 1280 */
  // /*font-size: calc(100vw / 1280 * 10);*/

  // @media (max-width: 1024px) {
  //   font-size: calc(100vw / 820 * 10);
  // }

  /*font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) /  1280);*/
}

/*************************************************************/
/**************************************************************/
/* сбрасываю, то что может мешать */

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
  /*чтобы наследовали цвет родителя*/
  color: inherit;
}

/***************************************************************/
/***************************************************************/

/* чтобы прижать футер к низу страницы*/
html,
body {
	height: 100%;
}

body {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
}

/* чтобы прижать футер к низу страницы*/
/* чтобы не появлялась полоса прокрутки при пиксель перфект надо
что-то помутить с медиа запросам*/
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// min-height: 100vh;
}

/* чтобы прижать футер к низу страницы*/
.main {
	// flex: 1 0 auto;
  flex-grow: 1;
}
.footer {
	flex: 0 0 auto;
}


.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  padding: 0rem 4rem;
  // padding: 6rem 4rem 0rem 4rem;
  // padding: 60px 40px 0 40px;
  // border: solid red 2px;
}

.photo {

  background-repeat: no-repeat;
  background-position: top;
  background-clip: border-box;

  background-size: contain;

}
