
@import 'normalize';
/**
 * global привет привет
 ********************************************************************************
 */
@import 'global';

// создаю миксин

@mixin title-h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.06em;

  color: #545454;

}


@mixin title-h4 {
  font-size: 2rem;
  line-height: 2.3rem;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.06em;

  color: #545454;

}

// font-family: 'Georgia';
// font-style: normal;
// font-weight: 400;
// font-size: 20px;
// line-height: 23px;
// /* identical to box height */

// display: flex;
// align-items: center;
// text-align: center;
// letter-spacing: 0.06em;

// /* color-dark-l */

// color: #545454;

body.lock {
  overflow: hidden;
  // background-color: red;
  transition: 1s;
}
body.lock .wrapper{
  // opacity: 0.5;
  transition: 1s;
}

// body.lock .wrapper {
//   position: fixed;
//   background-color: red;
//   height: 100vh;
//   width: 100vw;
//   top: 0;
//   left: 0;
//   z-index: 100;
// }
// .wrapper {
//   // position: fixed;
//   background-color: red;
//   // height: 100vh;
//   // width: 100vw;
//   // top: 0;
//   // left: 0;
//   // z-index: 100;
//   opacity: 0.5;
// }


/*****************************************************/

.photo {

  background-repeat: no-repeat;
  background-position: top;
  background-clip: border-box;

  background-size: contain;
  transition: 0.42s; // картинки в help будут плавно возвращаться

}

// .start {
//   background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
// }
// .start {
//   background: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
// }
.start {
  background: url(../assets/img/noise.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  // opacity: 0.5;
}

// .start {
//   background: url(../img/not-only/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
// }

/*****************************************************/
/*********Придется менять при адаптации****************/

.header{
  // padding: 6rem 0 6rem 0;
  padding: 3rem 0 9rem 0;

  @media screen and (max-width: 1000px) {
    padding: 3rem 0 6rem 0;
  }

  &--page {
    padding: 3rem 0;
    // border: solid red 2px;
    background-color: #FFFFFF;
  }
}





/**************************************************************/

// .header {
//   border: solid 1px red;
// }
// .container {
//   border: solid 1px red;
// }

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  // border: solid 1px whitesmoke;
  position: relative;
  
  @media screen and (max-width: 380px){
    padding: 0rem 1rem;
  }
}

.logo__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;

  margin-bottom: 1rem;

  letter-spacing: 0.06em;

  color: #F1CDB3;
  transition: 0.42s; // для плавного возвращения

  &--page {
    color: #545454;
  }
}

.logo__subtitle {
  /* logo_subtitle */

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;

  text-align: center;

  letter-spacing: 0.1em;

  color: #FFFFFF;

  &--page {
    color: #292929;
  }
}

.logo--page {
  transition: 0.42s; // для плавного возвращения
}

.logo--page:hover {
  // padding: 1rem; красивый эффект, но будет дергаться
  // background-color: #F6F6F6;
  // border-radius: 0.9rem;
  // filter: drop-shadow(0 0 4px gray);

  transition: all 0.3s linear;
  transform: scale(1.03);
  .logo__title {
    color: #F1CDB3;
    // transition: all 0.3s linear;
    transition: inherit;
    // color: #292929;
  }
  // .logo__subtitle--page {
  //   color: #545454;
  // }
}

/****************************************************************/
/****************************************************************/

/*кнопка мобильного меню*/
.burger-button {

  position: absolute;
  right: 0px;

  z-index: 22;

  width: 30px;
  height: 22px;
  // height: 30px;
  /* box-sizing: content-box;  */
  box-sizing: border-box;

  
  border: none;
  border-radius: 0px;

  // padding: 4px 0;
  padding: 0;
  margin: 0;
 
  // position: relative;

  background-color: inherit;
  transition: 0.6s all;

  display: none;

  // &.rotade {
  //   transform: rotate(-90deg);
  // }

  @media screen and (max-width: 767.9px) {
    // display: block;
    // margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // border: #B2B2B2 solid 1px;
  }

  /***тест***************************************************/
  // @media screen and (max-width: 766px) {
  //   transform: rotate(-90deg);
  // }
  /**********************************************************/

  @media screen and (max-width: 380px){
    right: 10px;
  }

  &:hover {
    transition: 0.3s all;
	  transform: scale(1.15);
    cursor: pointer;
  }
}

// надо обращаться к id так как вызов идёт от него
#burger-button.rotade {
    transform: rotate(-90deg);
    transition: 0.4s all;

    .burger-button__cross--page {
      background-color: #F1CDB3;
    }
}


/* рисую кнопку *********************************/

.burger-button__cross {
  // position: absolute;

  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  
  &--page {
    background-color: #000000;
  }
  // &--01 {
  //   top: 0rem;
  // }
  // &--02 {
  //   top: 1rem;
  // }
  // &--03 {
  //   top: 2rem;
  // }
  
}

// .cross-01 {
//   top: 5px;
//   /* transform: translateY(-12px); */  /*считаем от середины*/
// }

// .cross-02 {
//   top: 13px;
//  }

// .cross-03 {
//   top: 21px;
// }

// .cross-04 {
//   top: 29px;
// }


// .header_conteiner.open .cross-02 {
//   opacity: 0;
// }

// .header_conteiner.open .cross-03 {
//   opacity: 0;
// }

// .header_conteiner.open .cross-01 {
//   transform: translateY(12px) rotate(-45deg);
//   background-color: var(--orange_for_text);
// }

// .header_conteiner.open .cross-04 {
//   transform: translateY(-12px) rotate(45deg);
//   /* height: 4px; */
//   background-color: var(--orange_for_text);
// }



/****************************************************************/
/****************************************************************/

// @media screen and (max-width: 767.9px) {
//   .menu {
//     border: solid 4px aqua;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background: rgba(41, 41, 41, 0.6);
//   }
// }

.fon {
    // border: solid 4px aqua;
    position: fixed;
    // transition: 1s all;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: rgba(41, 41, 41, 0.6);
    z-index: -10;
    // width: 100vw;
    // height: 100vh;
}
.fon.work {
  // transition: 0.6s all;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}


.menu__list {
  display: flex;
  justify-content: space-between;
  // gap: 3.5rem;
  column-gap: 3.5rem;
  row-gap: 1rem;

  max-width: 44.3rem;
  min-height: 2.7rem;

  flex-wrap: wrap;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;

  // opacity: none;

  // .open {
  //   right: 0;
  // }

  // border: whitesmoke 1px solid;

  // меню исчезает и появляется ПЛАВНО
  transition: 0.7s;
  @media screen and (max-width: 767.9px) {
    // position: absolute; появляется белая полоса
    position: fixed;
    right: -32.2rem;
    top: 0;
    // opacity: 0;
    opacity: 6;
    transition: 0.7s;
    //z-index: -1; // чтобы не срабатывало нажатие
    z-index: 16; // тест
    
    // transform: translateX(100vw); рабочий вариант
    // transform: translateX(100%);
    // display: none; рабочий вариант

    /************************************************/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    row-gap: 4rem;
    width: 32rem;
    // height: 82.3rem;
    min-height: 100vh;
    
    // color: #FAFAFA;
    font-size: 3.2rem;
    line-height: 160%;

    // border: solid 1px wheat;

  }

  

/**********************************/
/********************тест**********/
/*  меню выезджает */

  &.open {
    right: 0;
  }
/**********************************/
/************************************/

  &--page {
    color:#545454;
    // z-index: 16;
    &.open {
      color: #CDCDCD;
    }


    .menu__list-item:hover{
      color: #292929;
    }
  }

  &-item:hover {
    color: #FAFAFA;
  }

  &-item--active{
    border-bottom: solid #F1CDB3 3px;
    color: #FAFAFA;
  }

  &-link--active {
    cursor: default;
  }

  &-item--active-page {
    color: #292929;
    border-bottom: solid #F1CDB3 3px;
    @media screen and (max-width: 767.9px) {
      color: #FAFAFA;
    }
  }
}

// .menu__list-link {
//   font-family: 'Arial';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 1.5rem;
//   line-height: 2.4rem;
//   color: #CDCDCD;
// }


/*********************************************************/
/*********************************************************/

.not-only__inner {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // flex-wrap: wrap;

  // border: solid 1px aqua;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: 630px) {
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}


.start-content {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  justify-content: center;
  row-gap: 4.2rem;
  padding-bottom: 8rem;

  // width: 46rem;
  // height: 50rem;
  max-width: 46rem;
  // min-height: 50rem;

  // padding: 16.3rem 0 1.5rem 0;

  // border: solid 1px seashell;

  @media screen and (max-width: 1000px) {
    align-items: center;
    padding-bottom: 10rem;
  }
  @media screen and (max-width: 380px) {
    padding-bottom: 10.5rem;
  }

}

.start-content__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;

  color: #FFFFFF;

  // border: solid 2px seashell;

  // margin-right: 15rem;
  @media screen and (max-width: 380px) {
    text-align: center;
    
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
  }
}

.start-content__text {

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;

  @media screen and (max-width: 380px) {
    text-align: center;
  }

}

.button {
  width: 20.7rem;
  height: 5.2rem;

  background: #F1CDB3;
  // border: none;
  border: 2px solid #F1CDB3;
  border-radius: 100px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2rem;
  /* identical to box height, or 22px */

  letter-spacing: 0.06em;

  color: #292929;

  cursor: pointer;
  transition: 0.3s; // для плавного возвращения

  &--start:hover {
    transition: all 0.3s linear;
    transform: scale(1.03);
    background-color: #FDDCC4;
  }

  &--arrow {
    width: 5.2rem;
    height: 5.2rem;
    background-color: #F6F6F6;
    // border: 2px solid #F1CDB3;
    flex-shrink: 0;

    &:hover{
      transition: all 0.3s linear;
      // transform: scale(1.03);
      background-color: #FDDCC4;
    }
  }
  &--arrow-inactive {
    width: 5.2rem;
    height: 5.2rem;
    background-color: #F6F6F6;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;

    cursor: default;
  }
  &--arrow-focus {
    width: 5.2rem;
    height: 5.2rem;
    background-color: #F1CDB3;

    &:hover{
      transition: all 0.3s linear;
      // transform: scale(1.03);
      background-color: #FDDCC4;
    }

  }

  &--card {
    width: 18.7rem;
    height: 5.2rem;
    background-color: #FAFAFA;
    transition: 0.42s;
  }

  &--primary {
    width: 26.1rem;
    height: 5.2rem;

    &:hover {
      transition: all 0.3s linear;
      transform: scale(1.03);
      background-color: #FDDCC4;
    }
  }

  &--arrow svg {
    // border: #1A1A1C solid 1px;
    vertical-align: middle;
  }
}

.photo--start-foto {
  // border: solid 1px seashell;
  width: 70rem;
  height: 73rem;
  background-image: url("../assets/img/start-screen-puppy.png");

  @media screen and (max-width: 1260px) {
    width: 56.9rem;
    height: 59.3rem;
    flex-shrink: 0;
    margin-left: auto;
  }
  @media screen and (max-width: 650px) {
    // flex-shrink: 1;
    // margin-left: 0;

    // width: calc(100vw*56.9/65);
    // height: calc(100vw*59.3/65);
    // width: calc(100vw*260/320);
    // height: calc(100vw*277.77/320);
    // width: calc(100vw*70/120*1.1);
    // height: calc(100vw*73/120*1.1);
    width: calc(100vw*70/120);
    height: calc(100vw*73/120);
  }
  @media screen and (max-width: 450px) {
    width: 26rem;
    height: 27.177rem;
  }
}

/*********************************************************/
/********************************************************/

.title {
  @include title-h2;

  @media screen and (max-width: 450px) {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    
  }
  

}

.title--about {
  padding-right: 6rem;

  @media screen and (max-width: 450px) {
    // font-size: 2.5rem;
    // line-height: 3.2rem;
    padding-right: 0;
    text-align: center;
    
  }
}

.about {
  background-color: #FFFFFF;
}

// .about__inner {
//   padding: 8rem 17.5rem 10rem 17.5rem;

//   display: flex;
//   justify-content: space-between;
//   flex-direction: row-reverse;
//   flex-wrap: wrap;
// }

.about__inner {
  display: flex;
  flex-direction: row-reverse;
  // flex-wrap: wrap;

  // justify-content: space-between;
  // padding: 8rem 17.5rem 10rem 17.5rem;

  justify-content: center;
  // justify-content: space-between;
  padding: 8rem 0 10rem 0;
  column-gap: 12rem;
  row-gap: 8rem;

  // border: solid black 1px;
  @media screen and (max-width: 870px) {
    // column-gap: 6rem;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 450px) {
    padding: 4.2rem 1.5rem 4.2rem 1.5rem;
    row-gap: 4rem;
  }
}

.about-content {
  max-width: 43rem;
  // min-width: 37rem;
  min-height: 41rem;
  padding: 1.4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // border: solid black 1px;

  @media screen and (max-width: 910px) {
    // padding: 0 0 2.8rem 0;
    min-height: 38rem;
    
    padding: 0;
  }

  @media screen and (max-width: 450px) {
    justify-content: space-between;
    row-gap: 2.5rem;
  }

}

.about__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;

  color: #4C4C4C;

  @media screen and (max-width: 450px) {
    text-align: justify;
  }

}

.photo--about-foto {
  width: 30rem;
  height: 41rem;
  background-image: url("../assets/img/about-pets.png");
  flex-shrink: 0;

  @media screen and (max-width: 650px) {
    
    width: calc(100vw*30/50);
    height: calc(100vw*31/50);
  }
  @media screen and (max-width: 570px) {
    width: 26rem;
    height: 35.36rem;
  }
}

/*********************************************************/
/********************************************************/

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-color: #F6F6F6;

  padding: 8rem 0 10rem 0;
  row-gap: 6rem;

  // border: solid 1px black;

  @media screen and (max-width: 650px ) {
    padding: 4.2rem 0 4.2rem 0;
    row-gap: 4.2rem;
  }

}

.our-friends__inner--page {
  @media screen and (max-width: 1100px ) {
    row-gap: 3rem;
    padding: 8rem 0 7.6rem 0;
  }

  @media screen and (max-width: 450px ) {
    row-gap: 4.2rem;
    padding: 4.2rem 0 4.2rem 0;
  }

}

.title--our-friends {
  max-width: 40rem;
  text-align: center;
}

.title-card {
  @include title-h4;
}

.slider {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  justify-content: center;

  min-height: 43.5rem; //чтобы слайдер не схлопывался при position: relative;
  position: relative; //надо чтобы сработал z-index и карточки стали перед кнопками
  
  width: 100%;

  // border: solid 1px blue;
  @media screen and (max-width: 768px) {
    position: static;
    flex-direction: column;
    row-gap: 1rem;
  }
}

// .slider__inner--page {
//   position: static;
// }

.slider__button-container {
  width: 100%;
  
  justify-content: space-between;
  // border: solid 1px aqua;

  // position: absolute;
  // z-index: 8;
  display: flex;
  // @media screen and (max-width: 1200px) {
  //  z-index: 0;
  //  width: 50%;
  // //  position: relative;
  // position: static;
  // }

  @media screen and (max-width: 700px) {
    padding: 0 5.8rem;
  }

}


.slider__inner {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;

  column-gap: 9rem;
  // row-gap: 1rem;
  row-gap: 3rem;

  position: absolute; // чтобы карточки стали перед кнопками
  z-index: 1;

  // border: solid red 1px;
   // order: -1;

  @media screen and (max-width: 1200px) {
    //  z-index: 0;
    //  width: 50%;
    //  position: relative;
    column-gap: 4rem;
    //position: static; // работает

  }
  @media screen and (max-width: 1100px) {
    max-width: 60rem;
    height: 43.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 767px) {
    position: static;
  }


  &--page {
    column-gap: 4rem;
    // row-gap: 3rem;
    position: static; // чтобы не действовал  position: absolute; со страницы 01
    flex-wrap: wrap;

    // border: #000000 solid 1px;


    @media screen and (max-width: 1100px) {
      max-width: 90rem;
      height: 136.5rem;
      overflow: hidden;
    }
    @media screen and (max-width: 450px) {
      margin-bottom: 0;
    }
  }
}

.card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #FAFAFA;
  border-radius: 0.9rem;

  height: 43.5rem;
  padding-bottom: 3rem;
  transition: 0.42s; // для плавного возвращения

  &:hover {
    // transition: all 0.3s ease;
    transition: all 0.3s linear;
    // transition: all 0.3s ease-in;
    transform: scale(1.06);
    filter: drop-shadow(0 0 1rem gray);

    .button--card {
      background-color: #FDDCC4;
      transition: all 0.7s ease;
    }
  }

}

.card .photo {
  width: 27rem;
  height: 27rem;

  // border: sienna 2px solid;
}

.photo--card-01 {
  background-image: url("../assets/img/pets-katrine.png");
}
.photo--card-02 {
  background-image: url("../assets/img/pets-jennifer.png");
}
.photo--card-03 {
  background-image: url("../assets/img/pets-woody.png");
}
.photo--card-04 {
  background-image: url("../assets/img/pets-sophia.png");
}
.photo--card-05 {
  background-image: url("../assets/img/pets-timmy.png");
}
.photo--card-06 {
  background-image: url("../assets/img/pets-charly.png");
}
.photo--card-07 {
  background-image: url("../assets/img/pets-scarlet.png");
}
.photo--card-08 {
  background-image: url("../assets/img/pets-freddie.png");
}

.navigation {
  display: flex;
  column-gap: 2rem;

  @media screen and (max-width: 450px) {
    column-gap: 1rem;
  }

}


/*********************************************************/
/********************************************************/
.help {
  background-color: #FFFFFF;

  // .container{
  //   padding: 8rem 4rem 10rem 4rem;
  // }
}


.help__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  row-gap: 6rem;

  padding: 8rem 0 10rem 0;

  // border: #1A1A1C solid 1px;

  @media screen and (max-width: 430px)  {
    padding: 4.2rem 0.5rem;
    row-gap: 4.2rem;
  }
}

.title--help {
  max-width: 40rem;
  text-align: center;
  // border: #1A1A1C solid 1px;
}



.help-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5.5rem;
  column-gap: 12rem;

  // border: solid aqua 1px;

  @media screen and (max-width: 904px)  {
    column-gap: 6rem;
  }
  @media screen and (max-width: 480px)  {
    
    justify-content: space-between;
    column-gap: normal;
  }
  @media screen and (max-width: 430px)  {
    row-gap: 3rem;
    column-gap: 0rem;
    padding-left: 10px;
  }
}

// ul.help-list {
//   @media screen and (max-width: 430px)  {
//     padding: 0 0.5rem;
//   }
// }


.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 11.3rem;

  // border: red solid 1px;

  transition: 0.42s;
  @media screen and (max-width: 904px)  {
    width: 17rem;
  }
  @media screen and (max-width: 430px)  {
    width: 13rem;
    height: 8.7rem;
  }

  .title-card{
    @media screen and (max-width: 430px)  {
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-align: center;
        letter-spacing: 0.06em;
    }
  }
}

.help-item:hover .photo {
  transition: 0.44s;
  transform: rotate(15deg);
}

.help-item__icon-01 {
  width: 4.786rem;
  height: 6rem;
  background-image: url("../assets/svg/01-Vector.svg");
  @media screen and (max-width: 430px)  {
    width: 3.988rem;
    height: 5rem;
  }
}
.help-item__icon-02 {
  width: 5.995rem;
  height: 6rem;
  background-image: url("../assets/svg/02-transportation.svg");
  @media screen and (max-width: 430px)  {
    width: 4.996rem;
    height: 5rem;
  }
}
.help-item__icon-03 {
  width: 6rem;
  height: 6rem;
  background-image: url("../assets/svg/03-toys.svg");
  @media screen and (max-width: 430px)  {
    width: 5rem;
    height: 5rem;
  }
}
.help-item__icon-04 {
  width: 6rem;
  height: 6rem;
  background-image: url("../assets/svg/04-bowls-and-cups.svg");
  @media screen and (max-width: 430px)  {
    width: 5rem;
    height: 4.735rem;
  }
}
.help-item__icon-05 {
  width: 3.13rem;
  height: 6rem;
  background-image: url("../assets/svg/05-shampoos.svg");
  @media screen and (max-width: 430px)  {
    width: 2.609rem;
    height: 5rem;
  }
}
.help-item__icon-06 {
  width: 6rem;
  height: 5.416rem;
  background-image: url("../assets/svg/06-vitamins.svg");
  @media screen and (max-width: 430px)  {
    width: 5rem;
    height: 4.513rem;
  }
}
.help-item__icon-07 {
  width: 6rem;
  height: 6rem;
  background-image: url("../assets/svg/07-medicines.svg");
  @media screen and (max-width: 430px)  {
    width: 5rem;
    height: 5rem;
  }
}
.help-item__icon-08 {
  width: 6rem;
  height: 5.243rem;
  background-image: url("../assets/svg/08-collars-or-leashes.svg");
  @media screen and (max-width: 430px)  {
    width: 5rem;
    height: 4.37rem;
  }
}
.help-item__icon-09 {
  width: 5.629rem;
  height: 6rem;
  background-image: url("../assets/svg/09-sleeping-area.svg");
  @media screen and (max-width: 430px)  {
    width: 4.691rem;
    height: 5rem;
  }
}


/*********************************************************/
/********************************************************/

.donation {
  background-color: #F6F6F6;
}

.donation__inner {
  display: flex;

  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  column-gap: 3rem;
  row-gap: 6rem;

  padding: 8rem 0 10rem 0;

  @media screen and (max-width: 480px)  {
    padding: 4rem 1rem 4.2rem 1rem;
    row-gap: 4.2rem;
  }

}

.donation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 38rem;
  min-height: 28.2rem;

  

  // border: #1A1A1C solid 1px;

  &__bank-title {
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    /* identical to box height, or 17px */
    letter-spacing: 0.06em;

    @media screen and (max-width: 480px)  {
      
      font-size: 1.5rem;
      line-height: 160%;
      letter-spacing: 0.01em;
      text-align: center;

    }
  }

  &__credit-card {
    display: flex;
    justify-content: space-between;

    width: 34.9rem;
    padding: 1rem 1.5rem;
    background-color: #F1CDB3;
    border-radius: 9px;
    transition: 0.3s; // для плавного возвращения

    &:hover {
      transition: all 0.3s linear;
      transform: scale(1.03);
      background-color: #FDDCC4;
    }

    @media screen and (max-width: 480px)  {
      width: 28.1rem;
      // padding: 1.3rem 1.5rem;
      // min-height: 28.2rem;
    }


  }

  &__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    color: #B2B2B2;

    @media screen and (max-width: 480px)  {
      text-align: justify;
    }

  }

  .title-card{
    @media screen and (max-width: 480px)  {
        font-size: 1.5rem;
        // line-height: 1.7rem;
        text-align: center;
        letter-spacing: 0.06em;
        // border: solid 1px black;
        // vertical-align: middle;
    }
  }

}

.photo--donation-foto {
  width: 50.5rem;
  // height: 28.2rem;
  height: 26.1rem;
  background-image: url("../assets/img/donation-dog.png");

  // border: #1A1A1C solid 1px;

  background-position: center;
  // @media screen and (max-width: 1000px)  {
  //   height: 26.1rem;
  // }
  @media screen and (max-width: 480px)  {
    width: 26rem;
    height: 13.52rem;
  }
}



/*********************************************************/
/********************************************************/

.footer {
  /* footer-gradient-background */
  background: url(../assets/img/noise.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 6.5rem;

  // justify-content: center;
  //column-gap: 15rem; // т.к контейнера для текста 310px

  align-items: flex-start;
  
  padding-top: 4rem;

  // border: #CDCDCD solid 1px;

  @media screen and (max-width: 1050px) {
    justify-content: center;
    padding-top: 1rem;
  }
  @media screen and (max-width: 450px) {
    row-gap: 4rem;
    padding-top: 1.2rem;
  }

}

// нужен для адаптации на флексах (на гридах не понадобился бы)
.footer__inner-container {
  padding-top: 1.6rem;
  // max-width: 27.8rem;
  min-height: 25rem;

  column-gap: 13rem;
  row-gap: 4rem;

  display: flex;
  // justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;

  // border: #CDCDCD solid 1px;

  @media screen and (max-width: 1150px) {
    column-gap: 3rem;
  }
  @media screen and (max-width: 450px) {
    row-gap: 2.6rem;
  }
}

.contact {
  max-width: 31rem;
  // width: 31rem;
  min-height: 23.4rem;
  

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  // border: solid wheat 1px;

  @media screen and (max-width: 450px) {
    max-width: 30rem;
    min-height: 22.2rem;

  }

}

.contact__title {

  @include title-h2;
  color: #FFFFFF;
  @media screen and (max-width: 450px) {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    
  }
}

.contact__icon-text {
  display: flex;
  
  align-items: center;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;

  /* color-primary */
  color: #F1CDB3;
  transition: 0.3s; // для плавного возвращения

  // border: solid wheat 1px;

  &--mail {
    @media screen and (max-width: 450px) {
      padding-left: 2.4rem;
      // margin-top: 0.3rem;
      // margin-bottom: 0.3rem;
    }
  }
  &--tel {
    @media screen and (max-width: 450px) {
      padding-left: 3rem;
      margin-bottom: 1.4rem;
    }
  }

  &:hover {
    transition: all 0.3s linear;
    transform: scale(1.03);
  }
}



.contact__icon-text p {
  margin-left: 2rem;
  width: 26rem;
  // border: solid 1px white;
}




.photo--footer {
  width: 30rem;
  height: 31rem;
  background-image: url("../assets/img/footer-puppy.png");

  @media screen and (max-width: 450px) {
    width: 26rem;
    height: 26.9rem;

  }
}


.photo--icon-mail {
  width: 4.5rem;
  height: 2.6rem;
  background-size: auto;
  background-image: url("../assets/svg/f-01-mail.svg");
}

.photo--icon-tel {
  width: 4.5rem;
  height: 3.2rem;
  background-size: 4rem auto;
  background-image: url("../assets/svg/f-02-phone.svg");
}

.photo--icon-location {
  width: 2.2rem;
  height: 3.2rem;
  background-image: url("../assets/svg/f-03-pin.svg");
}
















