@import 'normalize';
/**
 * global
 ********************************************************************************
 */
@import 'global';

// создаю миксин

@mixin title-h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.06em;

  color: #545454;

}

@mixin title-h4 {
  font-size: 2rem;
  line-height: 2.3rem;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.06em;

  color: #545454;

}

// font-family: 'Georgia';
// font-style: normal;
// font-weight: 400;
// font-size: 20px;
// line-height: 23px;
// /* identical to box height */

// display: flex;
// align-items: center;
// text-align: center;
// letter-spacing: 0.06em;

// /* color-dark-l */

// color: #545454;




/*****************************************************/

.photo {

  background-repeat: no-repeat;
  background-position: top;
  background-clip: border-box;

  background-size: contain;

}

.start {
  /* start-screen-gradient-background */
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}

/*****************************************************/
/*********Придется менять при адаптации****************/

.header{
  padding: 6rem 0 6rem 0;

  &--page {
    padding: 3rem 0;
    // border: solid red 2px;
    background-color: #FFFFFF;
  }
}





/**************************************************************/

// .header {
//   border: solid 1px red;
// }
// .container {
//   border: solid 1px red;
// }

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  // border: solid 1px red;
}

.logo__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;

  margin-bottom: 1rem;

  letter-spacing: 0.06em;

  color: #F1CDB3;

  &--page {
    color: #545454;
  }
}

.logo__subtitle {
  /* logo_subtitle */

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;

  text-align: center;

  letter-spacing: 0.1em;

  color: #FFFFFF;

  &--page {
    color: #292929;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  // gap: 3.5rem;
  column-gap: 3.5rem;
  row-gap: 1rem;

  max-width: 44.3rem;
  min-height: 2.7rem;

  flex-wrap: wrap;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;

  &--page {
    color:#545454;
  }

  &-item:hover {
    color: #FAFAFA;
  }

  &-item--active{
    border-bottom: solid #F1CDB3 3px;
    color: #FAFAFA;
  }

  &-link--active {
    cursor: default;
  }

  &-item--active-page {
    color: #292929;
    border-bottom: solid #F1CDB3 3px;
  }
}

// .menu__list-link {
//   font-family: 'Arial';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 1.5rem;
//   line-height: 2.4rem;
//   color: #CDCDCD;
// }


/*********************************************************/
/*********************************************************/

.not-only__inner {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-wrap: wrap;

  // border: solid 2px wheat;
}


.start-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 46rem;
  height: 50rem;

  padding: 16.3rem 0 1.5rem 0;

  // border: solid 2px wheat;
}

.start-content__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;

  color: #FFFFFF;

  // margin-right: 15rem;
}

.start-content__text {

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
}

.button {
  width: 20.7rem;
  height: 5.2rem;

  background: #F1CDB3;
  // border: none;
  border: 2px solid #F1CDB3;
  border-radius: 100px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.2rem;
  /* identical to box height, or 22px */

  letter-spacing: 0.06em;

  /* color-dark-3xl */

  color: #292929;

  cursor: pointer;

  &--arrow {
    width: 5.2rem;
    height: 5.2rem;
    background-color: #F6F6F6;
    // border: 2px solid #F1CDB3;

    &:hover{
      transition: all 0.3s linear;
      // transform: scale(1.03);
      background-color: #FDDCC4;
    }
  }
  &--arrow-inactive {
    width: 5.2rem;
    height: 5.2rem;
    background-color: #F6F6F6;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;

    cursor: default;
  }
  &--arrow-focus {
    width: 5.2rem;
    height: 5.2rem;
    background-color: #F1CDB3;
    color: blue;

  }

  &--card {
    width: 18.7rem;
    height: 5.2rem;
    background-color: #FAFAFA;
  }

  &--primary {
    width: 26.1rem;
    height: 5.2rem;
  }

  &--arrow svg {
    // border: #1A1A1C solid 1px;
    vertical-align: middle;
  }
}

.photo--start-foto {
  width: 70rem;
  height: 73rem;
  background-image: url("../assets/img/start-screen-puppy.png");
}

/*********************************************************/
/********************************************************/

.title {
  @include title-h2;
}

.title--about {
  padding-right: 6rem;
}

.about {
  background-color: #FFFFFF;
}

.about__inner {
  padding: 8rem 17.5rem 10rem 17.5rem;

  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.about-content {
  width: 43rem;
  min-height: 41rem;
  padding: 1.4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;

  color: #4C4C4C;
}

.photo--about-foto {
  width: 30rem;
  height: 41rem;
  background-image: url("../assets/img/about-pets.png");
}

/*********************************************************/
/********************************************************/

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-color: #F6F6F6;

  padding: 8rem 0 10rem 0;
  row-gap: 6rem;

  // border: solid 1px black;

}

.title--our-friends {
  max-width: 40rem;
  text-align: center;
}

.title-card {
  @include title-h4;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  column-gap: 9rem;
  row-gap: 1rem;

  // border: solid blue 2px;

  &--page {
    column-gap: 4rem;
    row-gap: 3rem;
  }
}

.card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #FAFAFA;
  border-radius: 0.9rem;

  height: 43.5rem;
  padding-bottom: 3rem;

  &:hover {
    // transition: all 0.3s ease;
    transition: all 0.3s linear;
    // transition: all 0.3s ease-in;
    transform: scale(1.1);

    .button--card {
      background-color: #FDDCC4;
      transition: all 0.7s ease;
    }
  }

}

.card .photo {
  width: 27rem;
  height: 27rem;

  // border: sienna 2px solid;
}

.photo--card-01 {
  background-image: url("../assets/img/pets-katrine.png");
}
.photo--card-02 {
  background-image: url("../assets/img/pets-jennifer.png");
}
.photo--card-03 {
  background-image: url("../assets/img/pets-woody.png");
}
.photo--card-04 {
  background-image: url("../assets/img/pets-sophia.png");
}
.photo--card-05 {
  background-image: url("../assets/img/pets-timmy.png");
}
.photo--card-06 {
  background-image: url("../assets/img/pets-charly.png");
}
.photo--card-07 {
  background-image: url("../assets/img/pets-scarlet.png");
}
.photo--card-08 {
  background-image: url("../assets/img/pets-freddie.png");
}

.navigation {
  display: flex;
  column-gap: 2rem;
}


/*********************************************************/
/********************************************************/
.help {
  background-color: #FFFFFF;

  .container{
    padding: 8rem 4rem 10rem 4rem;
  }
}


.help__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  row-gap: 6rem;

  // border: #1A1A1C solid 1px;
}

.title--help {
  max-width: 40rem;
  text-align: center;
}



.help-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5.5rem;
  column-gap: 12rem;
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 11.3rem;

  // border: #1A1A1C solid 1px;
}

.help-item__icon-01 {
  width: 4.786rem;
  height: 6rem;
  background-image: url("../assets/svg/01-Vector.svg");
}
.help-item__icon-02 {
  width: 5.995rem;
  height: 6rem;
  background-image: url("../assets/svg/02-transportation.svg");
}
.help-item__icon-03 {
  width: 6rem;
  height: 6rem;
  background-image: url("../assets/svg/03-toys.svg");
}
.help-item__icon-04 {
  width: 6rem;
  height: 6rem;
  background-image: url("../assets/svg/04-bowls-and-cups.svg");
}
.help-item__icon-05 {
  width: 3.13rem;
  height: 6rem;
  background-image: url("../assets/svg/05-shampoos.svg");
}
.help-item__icon-06 {
  width: 6rem;
  height: 5.416rem;
  background-image: url("../assets/svg/06-vitamins.svg");
}
.help-item__icon-07 {
  width: 6rem;
  height: 6rem;
  background-image: url("../assets/svg/07-medicines.svg");
}
.help-item__icon-08 {
  width: 6rem;
  height: 5.243rem;
  background-image: url("../assets/svg/08-collars-or-leashes.svg");
}
.help-item__icon-09 {
  width: 5.629rem;
  height: 6rem;
  background-image: url("../assets/svg/09-sleeping-area.svg");
}


/*********************************************************/
/********************************************************/

.donation {
  background-color: #F6F6F6;
}

.donation__inner {
  display: flex;

  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  column-gap: 3rem;

  padding: 8rem 0 10rem 0;
}

.donation-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 38rem;
  min-height: 28.2rem;

  // border: #1A1A1C solid 1px;

  &__bank-title {
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    /* identical to box height, or 17px */
    letter-spacing: 0.06em;
  }

  &__credit-card {
    display: flex;
    justify-content: space-between;

    width: 34.9rem;
    padding: 1rem 1.5rem;
    background-color: #F1CDB3;
    border-radius: 9px;
  }

  &__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    color: #B2B2B2;
  }
}

.photo--donation-foto {
  width: 50.5rem;
  height: 28.2rem;
  background-image: url("../assets/img/donation-dog.png");

  // border: #1A1A1C solid 1px;

  background-position: center;

}



/*********************************************************/
/********************************************************/

.footer {
  /* footer-gradient-background */
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: flex-start;
  padding-top: 4rem;

}

// нужен для адаптации на флексах (на гридах не понадобился бы)
.footer__inner-container {
  padding-top: 1.6rem;
  // max-width: 27.8rem;
  min-height: 25rem;

  column-gap: 13rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: center;

}

.contact {
  // width: 27.8rem;
  width: 31rem;
  height: 23.4rem;
  // padding-top: 1.6rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  // border: solid green 4px;
}

.contact__title {

  @include title-h2;
  color: #FFFFFF;
}

.contact__icon-text {
  display: flex;
  align-items: center;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;

  /* color-primary */
  color: #F1CDB3;

  // border: #FFFFFF solid 1px;
}

.contact__icon-text p {
  margin-left: 2rem;
  width: 26rem;
}




.photo--footer {
  width: 30rem;
  height: 31rem;
  background-image: url("../assets/img/footer-puppy.png");

  // border: solid green 4px;
}


.photo--icon-mail {
  width: 4.5rem;
  height: 2.6rem;
  background-size: auto;
  background-image: url("../assets/svg/f-01-mail.svg");
}

.photo--icon-tel {
  width: 4.5rem;
  height: 3.2rem;
  background-size: 4rem auto;
  background-image: url("../assets/svg/f-02-phone.svg");
}

.photo--icon-location {
  width: 2.2rem;
  height: 3.2rem;
  background-image: url("../assets/svg/f-03-pin.svg");
}

/*****************************************************/
/*****************************************************/


// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// /* разместил в global */
// html {
//   box-sizing: border-box;

//   scroll-behavior: smooth;

  // /* Меняю размер шрифта, чтобы установить новое значение rem */
  // /* Подгоняю его для экрана 1280 */
  // font-size: calc(100vw / 1280 * 10);

  // @media (max-width: 1024px) {
  //   font-size: calc(100vw / 820 * 10);
  // }

  // /*font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) /  1280);*/
// }



/************************************************************************************/



  // @font-face {
  //   font-family: 'Inika';
  //   src: url("../assets/fonts/Inika-Bold.ttf");
  //   font-weight: 700;
  // }

  // @font-face {
  //   font-family: 'Inika';
  //   src: url("../assets/fonts/Inika-Regular.ttf");
  //   font-weight: 400;
  // }

  // @font-face {
  //   font-family: 'Inter';
  //   src: url("../assets/fonts/Inter-Bold.ttf");
  //   font-weight: 700;
  // }

  // @font-face {
  //   font-family: 'Inter';
  //   src: url("../assets/fonts/Inter-Regular.ttf");
  //   font-weight: 400;
  // }

  // /* @media (max-width: 768px) {
  //   .section {
  //     width: 100%;
  //   }
  // } */

/************************************************************************************/







/************************************************************************************/
/************************************************************************************/
/*********************************************************************************