
.cta-section {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  border-radius: 0px 0px 20px 20px;
  padding: 60px 8px;

  
  // background-image: url(../../assets/img/bg-ball.png), url(../../assets/img/bg-snow.png);

  // background-repeat: no-repeat;
  // // background-position: top;
  // // background-clip: border-box;

  // background-size: contain;
  background-color: $primary;
  background-image: url(../assets/img/bg-forest.png), url(../assets/img/bg-snow.png);
  background-repeat: no-repeat, no-repeat;
  background-clip: border-box, border-box;
  background-position: center, center;
  background-size: cover, cover;
  // background-size: contain, contain;

  display: flex;
  justify-content: center;
  align-items: center;

}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1276px;
  padding: 60px 0px;
}

.cta-content {
  // max-width: 426px;
  max-width: 430px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  color: $static-white;
  text-align: center;

  &__title {
    @include header-2;
  }

  &__btn {
    @include action-small;
    padding: 20px 32px;
    background-color: $dark;
    border-radius: 20px;
    max-width: 237px;

    transition: all 0.6s;
  }

  &__btn:hover {
    color: $dark;
    background-color: $static-white;
    transition: all 0.6s;
  }
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;

  &__caption {
    @include caption;
  }
}

.timer {
  background-color: $static-white-40;

  padding: 8px 12px 12px 12px;
  border-radius: 20px;


  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    @include header-2;
  }

  &__date {
    @include header-4;
  }

  &__separator {
    width: 1px;
    height: 20px;
    background-color: $static-white-40;
  }
}

