
/***** header ***********************************************************************/
/***** header ***********************************************************************/

.header {
  width: 100%;
  
  background-color: antiquewhite;
}

.header-container {
  width: 100%;
  max-width: 1440px;

  padding: 0 8px;

  background-color: greenyellow;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.logo {
  border-radius: 12px;
  padding: 8px 20px;
  width: 141px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;

  cursor: pointer;

  background: $content-background;

  &__text {
    @include action-small;
    color: $dark;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  column-gap: 8px;

  &-link {
    @include action-small;
    color: $dark;
    border-radius: 12px;
    padding: 12px 20px;

    background: $content-background;

    transition: all 0.6s;

    &:hover {
      color: $primary;
      background: $primary-10;

      transition: all 0.6s;
    }
  }
}





// .header {
//   width: 100%;
//   min-height: 65px;
//   // position: relative;
//   position: fixed;
//   z-index: 4;

//   background: $background-primary;
//   box-shadow: 10px 10px 40px -2px $color-shadow;

//   @include header-4; 

//   opacity: 0.8;
// }

// .title {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: $color-light;
//   // color: var(--color-light);
//   opacity: 0.2;
//   cursor: default;
//   z-index: -1;
// }

