

/***** mixins ***********************************************************************/
/***** mixins ***********************************************************************/

// :root {
//   --font-family: "Montserrat", sans-serif;
//   --second-family: "Allura", sans-serif;
//   --third-family: "SF Pro", sans-serif;
// }

////////  cursor

@mixin custom-cursor {
  cursor: url(../assets/img/pointinghand.svg), pointer;
}

////////  fonts

@mixin caption {
  font-family: Allura;
  font-size: 34px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.05em;
}

@mixin cansel-color-touch { // убирает синий цвет при таче
  -webkit-tap-highlight-color: transparent;
}






