
.title-h1 {
  @include caption;
  color: var(--primary);
  // color: $primary;

  text-align: center;
  // margin: 100px auto;

  padding-top: 40px;
  padding-bottom: 35px;
}

.canvas {
  // border: solid 1px black;
  // background-color: rgb(128, 128, 128);
  // background-color: #424242;

  display: block;
  // margin: 0 auto 30px;

  border: 10px solid var(--border); /* Временно для проверки */
  // border: 10px solid rgb(26, 114, 51); /* Временно для проверки */
}
