
.test-h1 {
  @include caption;
  color: $primary;

  text-align: center;
  margin: 100px auto;
}

.canvas {
  // border: solid 1px black;
  background-color: #424242;

  display: block;
  margin: 0 auto;
}
