@charset "UTF-8";
/******** global *****************************************************/
/**************************************************************/
/* сбрасываю, то что может мешать */
*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  /*чтобы наследовали цвет родителя*/
  color: inherit;
}

button {
  border: none;
  outline: none; /*убираю фокус*/
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Removes platform-specific styling */
  color: inherit;
  border: solid 2px blue; /*чтобы увидеть кнопку*/
}

/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

/* чтобы прижать футер к низу страницы*/
/*! чтобы всегда была полоса прокрутки и не дергалось при пиксель перфект. 
Надо убрать для мобилок*/
html {
  height: 100.1%;
}

body {
  height: 100%;
}

/* чтобы прижать футер к низу страницы*/
/* чтобы не появлялась полоса прокрутки при пиксель перфект надо
что-то помутить с медиа запросам*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter";
  color: #403F3D;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 0rem 4rem;
}
@media screen and (max-width: 740px) {
  .container {
    padding: 0rem 1rem;
  }
}

/* чтобы прижать футер к низу страницы*/
.main {
  flex-grow: 1;
}

.footer {
  flex: 0 0 auto;
}

/***********************************************/
/***********************************************/
body {
  background: #E1D4C9;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}

.section {
  width: 100%;
}

.title {
  color: #403F3D;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.title--accent {
  color: #B0907A;
  font-style: italic;
}

.title-3 {
  color: #403F3D;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

/**********************************************/
/**********************************************/
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  background-color: #f69ec4;
  position: relative; /*для адаптации бургера*/
}
@media screen and (max-width: 850px) {
  .header-inner {
    flex-wrap: wrap;
  }
}

.logo {
  background-image: url(../assets/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
  flex-shrink: 0;
  border: solid red 2px;
}

.menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  width: 100%;
  max-width: 893px;
  background-color: tomato;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .menu {
    flex-shrink: 0;
  }
}

.menu__list-link {
  background-color: #f9dd94;
  cursor: pointer;
  position: relative;
}
.menu__list-link::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: red;
  transition: 0.4s;
}
.menu__list-link::before {
  bottom: -4px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
}
.menu__list-link:hover:before {
  transform: scaleX(1);
}

.menu__list {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  line-height: 5rem;
}
.menu__list-item {
  transition: 0.4s;
}

.coffee-menu {
  margin-left: auto;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  justify-content: space-between;
  height: 24px;
  background-color: antiquewhite;
}
.coffee-menu__img {
  background-image: url(../assets/svg/coffee-cup.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

/************/
.header-hero {
  width: 100%;
  height: 644px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  display: flex;
}
.header-hero__video {
  max-width: 1360px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  position: absolute;
}
.header-hero__offer {
  z-index: 2;
  color: #E1D4C9;
  width: 100%;
  max-width: 730px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
.header-hero__offer-title {
  font-size: 72px;
  line-height: 105%;
}
.header-hero__offer-title span {
  color: #B0907A;
  font-style: italic;
}
.header-hero__offer-text {
  font-weight: 400;
}

.header-hero__offer-button {
  width: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #E1D4C9;
  border: solid 2px #E1D4C9;
}
.header-hero__offer-button:hover {
  cursor: pointer;
}

.coffee-menu--hero {
  margin: 0;
  color: #403F3D;
  background-color: inherit;
}

.coffee-menu__img--hero {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: 0.4s;
}

.header-hero__offer-button:hover .coffee-menu__img--hero {
  opacity: 1;
  visibility: visible;
  width: 20px;
  transition: 0.4s;
}

/********* section Favorites Coffee *****************************************************/
/****************************************************************************************/
.title--favorites {
  text-align: center;
}

.favorites-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

/******************************/
.slider {
  border: solid greenyellow 2px;
  width: 100%;
}

.slider-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.slider-inner {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  overflow: hidden;
  max-width: 480px;
}

.slider-inner_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: blueviolet;
}
.slider-inner_item__img {
  width: 480px;
  height: 480px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-inner_item__img--01 {
  background-image: url(../assets/img/coffee-slider-1.png);
}
.slider-inner_item__img--02 {
  background-image: url(../assets/img/coffee-slider-2.png);
}
.slider-inner_item__img--03 {
  background-image: url(../assets/img/coffee-slider-3.png);
}
.slider-inner_item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  text-align: center;
  font-weight: 400;
}

/***************************************/
.slider-btn {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
}
.slider-btn__arrow {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-btn__arrow--left {
  background-image: url(../assets/svg/arrow-left.svg);
}
.slider-btn__arrow--right {
  background-image: url(../assets/svg/arrow-right.svg);
}

/**********************************************/
/**********************************************/
/****** Сохраняю пропорции блока с картинкой ****************************************/
/***********************************************/
/***********************************************************/
.footer {
  background-color: rgb(80, 80, 80);
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.github-visit {
  margin-left: 10px;
}

.footer-container__github {
  display: flex;
  align-items: center;
}

.footer-container__github:hover {
  text-decoration: underline;
}

.footer-link {
  opacity: 70%;
  transform: scale(1);
  transition: all 0.4s;
}
.footer-link:hover {
  transform: scale(1.2);
  transition: all 0.4s;
  opacity: 100%;
}
.footer-link:active {
  transform: scale(0.9);
  transition: all 0.4s;
}

.footer-container__copy {
  color: rgb(0, 0, 0);
  margin-left: 25px;
}

/*********************************************************/
/*********************************************************//*# sourceMappingURL=style.css.map */