@charset "UTF-8";
/******** global *****************************************************/
/**************************************************************/
/* сбрасываю, то что может мешать */
*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  /*чтобы наследовали цвет родителя*/
  color: inherit;
}

button {
  border: none;
  outline: none; /*убираю фокус*/
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Removes platform-specific styling */
  color: inherit;
}

/***************************************************************/
/***************************************************************/
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Italic.ttf");
  font-weight: 500;
}
/***************************************************************/
/***************************************************************/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

/* чтобы прижать футер к низу страницы*/
/*! чтобы всегда была полоса прокрутки и не дергалось при пиксель перфект. 
Надо убрать для мобилок*/
html {
  height: 100.1%;
}

body {
  height: 100%;
}

/* чтобы прижать футер к низу страницы*/
/* чтобы не появлялась полоса прокрутки при пиксель перфект надо
что-то помутить с медиа запросам*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* чтобы прижать футер к низу страницы*/
.main {
  flex-grow: 1;
}

.footer {
  flex: 0 0 auto;
}

/***********************************************/
/***********************************************/
.wrapper {
  margin: 0 auto;
  background-image: url(../assets/img/Lzy-cover02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.main {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-container {
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 100%;
  max-width: 600px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.7s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 10px;
}
@media screen and (max-height: 699.8px) {
  .player-container {
    max-width: 450px;
  }
}
@media screen and (max-height: 519.8px) {
  .player-container {
    max-width: 370px;
  }
}
@media screen and (max-height: 449.8px) {
  .player-container {
    max-width: 600px;
  }
}

/**********************************************/
/**********************************************/
/****** Сохраняю пропорции блока с картинкой ****************************************/
.cover {
  width: 100%; /* здесь можно установить любую нужную ширину */
}

.cover-inner {
  position: relative;
  height: 0;
  border: none;
}

.cover-content {
  transition: all 0.7s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../assets/img/Lzy-cover02.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
}

.cover-inner--ratio {
  padding-top: 75%; /* 100% ширины делим на 4 и умножаем на 3 */
}
@media screen and (max-height: 449.8px) {
  .cover-inner--ratio {
    padding-top: 0;
  }
}

.cover-hidden {
  padding-top: 0;
}

/***********************************************/
/***********************************************/
/***********************************************/
.player {
  padding: 10px;
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 10px;
}

/***********************************************/
.info-screen {
  width: 100%;
  transition: all 2s;
}

.hidden {
  opacity: 0;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

.title-singer {
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  opacity: 1;
  transform: scale(1);
}

/***********************************************/
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-size: contain;
  transition: all 0.4s;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.btn--play {
  width: 60px;
  height: 60px;
  background-image: url("../assets/svg/play.png");
  transition: all 0.4s;
}
.btn--play:active {
  transform: scale(0.9);
}
.btn--prev {
  background-image: url("../assets/svg/backward.png");
  transition: all 0.4s;
}
.btn--prev:active {
  transform: scale(0.9);
}
.btn--next {
  background-image: url("../assets/svg/forward.png");
  transition: all 0.4s;
}
.btn--next:active {
  transform: scale(0.9);
}

.pause {
  background-image: url("../assets/svg/pause.png");
  opacity: 80%;
  transition: all 0.4s;
  transform: scale(1);
}

/***********************************************************/
.time-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.time-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.time-line {
  padding: 2px 0;
  background: white;
  width: 100%;
  height: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5333333333);
  border-radius: 5px;
}

.time-progress {
  background: coral;
  width: 0%;
  height: 100%;
  transition: 0.3s;
  border-radius: 5px;
}

/***********************************************************/
.footer {
  background-color: rgb(80, 80, 80);
  box-shadow: 10px 10px 40px -2px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  /****************************************************/
  /** Для адаптации-ротации, если высота меньше ширины */
  display: flex;
}
@media screen and (max-height: 699.8px) and (max-width: 1023.8px) {
  .footer {
    position: fixed;
    width: 100%;
  }
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.github-visit {
  margin-left: 10px;
}

.github {
  display: flex;
  align-items: center;
}

.github :hover {
  text-decoration: underline;
}

.footer-link {
  transition: 0.3s;
  opacity: 70%;
}

.footer-link:hover {
  transform: scale(1.2);
  opacity: 100%;
}

.footer-container__copy {
  color: rgb(0, 0, 0);
  margin-left: 25px;
}/*# sourceMappingURL=style.css.map */